{% extends "main/site_base.html" %}

{% load um_components %}

{% block content %}
    {% page_header "Pets" %}
    <div class="flex flex-wrap justify-around">
        <span class="lg:basis-7/12">
        <table class="w-full overflow-hidden rounded-lg shadow-lg">
            <thead class="rounded-lg bg-gray-800">
            <tr class="text-white">
                <th class="px-2 py-4 text-center md:py-4 md:text-base">
                    Rank
                </th>
                <th class="px-2 py-4 text-center md:py-4 md:text-base">
                    Username
                </th>
                <th class="hidden whitespace-nowrap p-4 text-center text-base md:table-cell">
                    Total Pets
                </th>
                <th class="px-2 py-4 text-center md:py-4 md:text-base">
                    Pets
                </th>
            </tr>
            </thead>
            <tbody>
            {% for account in page_obj %}
                <tr class="odd:bg-gray-50 even:bg-gray-100">
                    <td class="whitespace-nowrap py-4 text-center md:px-2">
                        {{ forloop.counter0|add:page_obj.start_index }}
                    </td>
                    <td class="max-w-xs py-4 text-center md:px-2">
                        {% if not account.is_active %}
                            <s class="text-gray-700">
                                {{ account.display_name }}
                            </s>
                        {% else %}
                            {{ account.display_name }}
                        {% endif %}
                    </td>
                    <td class="hidden whitespace-nowrap py-2 text-center md:table-cell">
                        <div class="whitespace-nowrap px-4 py-4 text-2xl font-runescape">
                            <p class="pr-2 text-center">{{ account.pets.count }}</p>
                        </div>
                    </td>
                    <td class="py-4 text-center md:px-2">
                        <div class="max-md:ml-4 flex flex-row flex-wrap gap-1">
                            {% for pet_submission in account.pets %}
                                <div class="group" tabindex="0">
                                    {% if request.user.is_authenticated %}
                                        <a href="{{ pet_submission.proof.url }}" target="_blank" aria-label="{{ pet_submission.pet.name }} Proof Image">
                                            <img src="{{ pet_submission.pet.icon.url }}" class="inline-block object-scale-down">
                                        </a>
                                    {% else %}
                                        <img src="{{ pet_submission.pet.icon.url }}" class="inline-block object-scale-down">
                                    {% endif %}
                                    <span class="absolute max-md:right-0 max-md:left-0 z-10 max-md:m-auto group-focus-within:block hidden w-72 translate-y-2 rounded-lg bg-slate-700 p-2 text-center text-base text-gray-50 group-hover:block hover:cursor-default focus:outline-none md:w-96 md:-translate-x-1/2"
                                          tabindex="-1">
                                        <p>{{ pet_submission.pet.name }}</p>
                                        <p>{{ pet_submission.date|date:"M d, Y" }}</p>
                                        {{ pet_submission.notes }}
                                    </span>
                                </div>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="mt-4 flex justify-around border-t-2 py-2 text-gray-800">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}"
                   class="mx-2 my-4 rounded-md bg-gray-300 px-3 py-2 font-medium text-gray-800 shadow-md transition ease-in-out hover:scale-105 hover:bg-gray-800 hover:text-white">
                    Previous
                </a>
            {% else %}
                <a class="mx-2 my-4 rounded-md bg-gray-200 px-3 py-2 font-medium text-gray-400 shadow-md hover:cursor-default"
                   disabled>
                    Previous
                </a>
            {% endif %}

            <a class="my-4 rounded-md px-3 py-2 font-medium hover:cursor-default">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </a>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"
                   class="mx-2 my-4 rounded-md bg-gray-300 px-3 py-2 font-medium text-gray-800 shadow-md transition ease-in-out hover:scale-105 hover:bg-gray-800 hover:text-white">
                    Next
                </a>
            {% else %}
                <a class="mx-2 my-4 rounded-md bg-gray-200 px-3 py-2 font-medium text-gray-400 shadow-md hover:cursor-default"
                   disabled>
                    Next
                </a>
            {% endif %}
        </div>
        </span>
    </div>
{% endblock %}