{% extends "main/site_base.html" %}

{% load um_components %}

{% block content %}
    {% page_header "Pets" %}
    <div class="flex flex-wrap justify-around">
        <span class="lg:basis-7/12">
        <table class="overflow-hidden w-full rounded-lg shadow-lg">
            <thead class="bg-gray-800 rounded-lg">
            <tr class="text-white">
                <th class="px-2 py-4 text-center md:py-4 md:text-md">
                    Rank
                </th>
                <th class="px-2 py-4 text-center md:py-4 md:text-md">
                    Username
                </th>
                <th class="hidden p-4 text-center whitespace-nowrap md:table-cell text-md">
                    Total Pets
                </th>
                <th class="px-2 py-4 text-center md:py-4 md:text-md">
                    Pets
                </th>
            </tr>
            </thead>
            <tbody>
            {% for account in page_obj %}
                <tr class="even:bg-gray-100 odd:bg-gray-50">
                    <td class="py-4 text-center whitespace-nowrap md:px-2">
                        {{ forloop.counter0|add:page_obj.start_index }}
                    </td>
                    <td class="py-4 max-w-xs text-center md:px-2">
                        {% if not account.is_active %}
                            <s class="text-gray-700">
                                {{ account.display_name }}
                            </s>
                        {% else %}
                            {{ account.display_name }}
                        {% endif %}
                    </td>
                    <td class="hidden py-2 text-center whitespace-nowrap md:table-cell">
                        <div class="px-4 py-4 text-2xl whitespace-nowrap font-runescape">
                            <p class="pr-2 text-center">{{ account.pets.count }}</p>
                        </div>
                    </td>
                    <td class="py-4 text-center md:px-2 font-runescape">
                        <div class="flex flex-row flex-wrap gap-1 max-md:ml-4">
                            {% for pet_submission in account.pets %}
                                <div class="group" tabindex="0">
                                    {% if request.user.is_authenticated %}
                                        <a href="{{ pet_submission.proof.url }}" target="_blank">
                                            <img src="{{ pet_submission.pet.icon.url }}" class="inline-block object-scale-down">
                                        </a>
                                    {% else %}
                                        <img src="{{ pet_submission.pet.icon.url }}" class="inline-block object-scale-down">
                                    {% endif %}
                                    <span class="hidden absolute z-10 p-2 w-72 text-base text-center text-gray-50 bg-gray-600 rounded-lg translate-y-2 max-md:right-0 max-md:left-0 max-md:m-auto md:-translate-x-1/2 md:w-96 group-hover:block group-focus-within:block focus:outline-none hover:cursor-default"
                                          tabindex="-1">
                                        <p>{{ pet_submission.pet.name }}</p>
                                        <p>{{ pet_submission.date|date:"M d, Y" }}</p>
                                        {{ pet_submission.notes }}
                                    </span>
                                </div>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="flex justify-around py-2 mt-4 text-gray-800 border-t-2">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}"
                   class="px-3 py-2 mx-2 my-4 font-medium text-gray-800 bg-gray-300 rounded-md shadow-md transition ease-in-out hover:bg-gray-800 hover:text-white hover:scale-105">
                    Previous
                </a>
            {% else %}
                <a class="px-3 py-2 mx-2 my-4 font-medium text-gray-400 bg-gray-200 rounded-md shadow-md hover:cursor-default"
                   disabled>
                    Previous
                </a>
            {% endif %}

            <a class="px-3 py-2 my-4 font-medium rounded-md hover:cursor-default">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </a>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"
                   class="px-3 py-2 mx-2 my-4 font-medium text-gray-800 bg-gray-300 rounded-md shadow-md transition ease-in-out hover:bg-gray-800 hover:text-white hover:scale-105">
                    Next
                </a>
            {% else %}
                <a class="px-3 py-2 mx-2 my-4 font-medium text-gray-400 bg-gray-200 rounded-md shadow-md hover:cursor-default"
                   disabled>
                    Next
                </a>
            {% endif %}
        </div>
        </span>
    </div>
{% endblock %}