{% extends "main/site_base.html" %}

{% load um_components main_extras %}

{% block content %}
    {% page_header "Top Players" %}
    <div class="mb-2 flex justify-center md:mb-4">
        <a href="{% url "achievements:points-multipliers" %}" class="font-bold text-cyan-500 hover:text-cyan-700 md:text-xl">
            Achievement Points Multipliers
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline-block h-6 w-6 align-top">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"></path>
            </svg>
        </a>
    </div>
    <div class="flex flex-wrap justify-around">
        <div class="xl:basis-7/12">
            <table class="w-full overflow-hidden rounded-lg shadow-lg">
                <thead class="rounded-lg bg-gray-800">
                <tr class="text-white">
                    <th class="px-1 py-4 text-center md:py-4 md:text-base">
                        Rank
                    </th>
                    <th class="px-1 py-4 text-center md:py-4 md:text-base">
                        Username
                    </th>
                    <th class="px-1 py-4 text-center md:py-4 md:text-base">
                        Points
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for account in page_obj %}
                    <tr class="odd:bg-gray-50 even:bg-gray-100">
                        <td class="whitespace-nowrap py-4 text-center md:px-2">
                            {{ forloop.counter0|add:page_obj.start_index }}
                        </td>
                        <td class="max-w-xs py-4 text-center md:px-2">
                        <span class="m-1 text-sm md:px-2 md:text-lg">
                            {{ account.display_name }}
                        </span>
                        </td>
                        <td class="whitespace-nowrap py-4 text-center text-lg font-runescape md:px-2 md:text-2xl">
                            <p class="pr-2 text-center">{{ account.points|stringformat:"d" }}</p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="mt-4 flex justify-around border-t-2 py-2 text-gray-800">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"
                       class="mx-2 my-4 rounded-md bg-gray-300 px-3 py-2 font-medium text-gray-800 shadow-md transition ease-in-out hover:scale-105 hover:bg-gray-800 hover:text-white">
                        Previous
                    </a>
                {% else %}
                    <a class="mx-2 my-4 rounded-md bg-gray-200 px-3 py-2 font-medium text-gray-400 shadow-md hover:cursor-default"
                       disabled>
                        Previous
                    </a>
                {% endif %}

                <a class="my-4 rounded-md px-3 py-2 font-medium hover:cursor-default">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </a>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"
                       class="mx-2 my-4 rounded-md bg-gray-300 px-3 py-2 font-medium text-gray-800 shadow-md transition ease-in-out hover:scale-105 hover:bg-gray-800 hover:text-white">
                        Next
                    </a>
                {% else %}
                    <a class="mx-2 my-4 rounded-md bg-gray-200 px-3 py-2 font-medium text-gray-400 shadow-md hover:cursor-default"
                       disabled>
                        Next
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}