{% extends "main/site_base.html" %}

{% load i18n um_components %}

{% block extra_head %}
    {{ block.super }}
    {{ wizard.form.media }}
{% endblock %}

{% block header %}
    {% page_header "Select Achievement Type" %}
{% endblock %}

{% block content %}

    {% if wizard.form.errors %}
        <div class="flex justify-center pb-4">
            <p class="basis-7/12 rounded-lg border border-red-700 p-4 text-center text-lg text-red-700">
                Please fix the errors below.
            </p>
        </div>
    {% endif %}

    {% if wizard.form.non_field_errors %}
        <div class="flex justify-center pb-4">
            <p class="basis-7/12 rounded-lg border border-red-700 p-4 text-center text-lg text-red-700">
                {% for error in wizard.form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </p>
        </div>
    {% endif %}

    {% if messages %}
        <ul class="flex justify-center pb-4">
            {% for message in messages %}
                <li class="basis-7/12 rounded-lg border border-green-600 p-4 text-center text-lg text-green-600">
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <form enctype="multipart/form-data" method="post" action="" autocomplete="off">
        {% csrf_token %}
        {{ wizard.management_form }}

        <div class="flex flex-col items-center justify-center">
            <div class="m-auto text-center ciaran">
                <p class="max-w-lg py-2 font-medium text-gray-900">
                    {% block sub-header %}{% endblock sub-header %}
                </p>
            </div>
            {% block form_content %}
            {% endblock %}
        </div>

        <div class="flex justify-center">
            {% if wizard.steps.prev %}
                <button formnovalidate="formnovalidate"
                        name="wizard_goto_step"
                        value="{{ wizard.steps.prev }}"
                        class="mx-2 my-4 rounded-md bg-gray-300 px-3 py-2 font-medium text-gray-800 shadow-md transition ease-in-out hover:scale-105 hover:bg-gray-800 hover:text-white">
                    {% trans "Previous" %}
                </button>
            {% endif %}
            <button type="submit"
                    class="mx-2 my-4 rounded-md bg-gray-300 px-3 py-2 font-medium text-gray-800 shadow-md transition ease-in-out hover:scale-105 hover:bg-gray-800 hover:text-white">
                {% block submit_text %}{% trans "Submit" %}{% endblock %}
            </button>
        </div>
    </form>
{% endblock %}
