{% extends "main/forms/wizard/base.html" %}

{% load main_extras um_components %}

{% block extra_head %}
    {{ block.super }}
    {{ wizard.form.media }}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let minutes_selector = document.getElementById("{{ wizard.form.minutes.id_for_label }}");
            Inputmask(
                {
                    mask: "9[9][9]",
                    placeholder: "0",
                    positionCaretOnClick: "none",
                }
            ).mask(minutes_selector);
            let seconds_selector = document.getElementById("{{ wizard.form.seconds.id_for_label }}");
            Inputmask(
                {
                    mask: "9[9].9[9]",
                    placeholder: "0",
                    positionCaretOnClick: "radixFocus",
                    positionCaretOnTab: false,
                }
            ).mask(seconds_selector);
        });
    </script>
{% endblock %}

{% block header %}
    {% page_header "Submit Record for "|addstr:board.name %}
{% endblock %}

{% block form_content %}

    {{ wizard.form.board }}

    {# Account(s) #}
    {% for field in wizard.form %}
        {% if "account" in field.name %}
            {% if field.errors %}
                <div class="flex justify-center">
                    {% include "main/forms/field_error_list.html" with errors=field.errors %}
                </div>
            {% endif %}
            {{ field }}
        {% endif %}
    {% endfor %}

    {# Value #}
    {% if wizard.form.value.errors %}
        <div class="flex justify-center">
            {% include "main/forms/field_error_list.html" with errors=wizard.form.value.errors %}
        </div>
    {% endif %}
    {% if board.parent.metric == board.parent.TIME %}
        <div class="mx-2 my-4">
            <label for="{{ wizard.form.value.id_for_label }}" class="text-sm font-medium text-gray-900">
                {{ board.parent.metric_name }} *
            </label>
            <div class="flex justify-start w-80 items-center">
                <input id="{{ wizard.form.minutes.id_for_label }}"
                       name="{{ wizard.form.prefix }}-{{ wizard.form.minutes.name }}"
                       type="text"
                       autocomplete="{{ wizard.form.minutes.name }}"
                       maxlength="{{ wizard.form.minutes.field.max_length }}"
                       placeholder="Minutes"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 inline-block">
                <span class="font-bold px-2">
                :
            </span>
                <input id="{{ wizard.form.seconds.id_for_label }}"
                       name="{{ wizard.form.prefix }}-{{ wizard.form.seconds.name }}"
                       type="text"
                       autocomplete="{{ wizard.form.seconds.name }}"
                       maxlength="{{ wizard.form.seconds.field.max_length }}"
                       placeholder="Seconds"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 inline-block">
            </div>
        </div>
    {% else %}
        <div class="flex flex-col justify-center mx-2 my-4 flex-wrap w-80">
            <label for="{{ wizard.form.value.id_for_label }}" class="text-sm font-medium text-gray-900">
                {{ board }}
                {{ board.parent }}
                {{ board.parent.metric_name }} *
            </label>
            <input id="{{ wizard.form.value.id_for_label }}"
                   name="{{ wizard.form.prefix }}-{{ wizard.form.value.name }}"
                   type="number"
                   min="0.01"
                   required
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 w-full">
            <p class="text-sm text-gray-600">
                {{ wizard.form.value.help_text }}
            </p>
        </div>
    {% endif %}

    {% textarea_input wizard.form.notes prefix=wizard.form.prefix %}

    {% file_input wizard.form.proof prefix=wizard.form.prefix %}

{% endblock %}
