{% extends "main/forms/wizard/base.html" %}

{% block form %}

    {# Account #}
    {% if wizard.form.account.errors %}
        <div class="flex justify-center">
            {% include "main/forms/field_error_list.html" with errors=wizard.form.account.errors %}
        </div>
    {% endif %}
    <div class="block mx-2 my-4">
        {{ wizard.form.account }}
    </div>

    {# Collections Logged #}
    <div class="block mx-2 my-4">
        {% if wizard.form.col_logs.errors %}
            <div class="flex justify-center">
                {% include "main/forms/field_error_list.html" with errors=wizard.form.col_logs.errors %}
            </div>
        {% endif %}
        <label for="{{ wizard.form.col_logs.id_for_label }}" class="text-sm font-medium text-gray-900">
            Collections Logged
        </label>
        <input type="text" id="{{ wizard.form.col_logs.id_for_label }}" name="{{ wizard.form.prefix }}-{{ wizard.form.col_logs.name }}"
               autocomplete="{{ wizard.form.col_logs.name }}" maxlength="{{ wizard.form.col_logs.field.max_length }}" required
               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 w-80">
    </div>

    {# Notes #}
    <div class="block mx-2 my-4">
        {% if wizard.form.notes.errors %}
            <div class="flex justify-center">
                {% include "main/forms/field_error_list.html" with errors=wizard.form.value.errors %}
            </div>
        {% endif %}
        <label for="{{ wizard.form.notes.id_for_label }}" class="text-sm font-medium text-gray-900">
            Notes
        </label>
        <textarea type="text" id="{{ wizard.form.notes.id_for_label }}" name="{{ wizard.form.prefix }}-{{ wizard.form.notes.name }}"
                  autocomplete="{{ wizard.form.notes.name }}" maxlength="{{ wizard.form.notes.field.max_length }}"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 w-80 h-40"></textarea>
    </div>

    {# Proof #}
    <div class="flex justify-center items-center w-full bg-grey-lighter">
        <label for="{{ wizard.form.proof.id_for_label }}"
               class="flex items-center p-2.5 w-80 bg-white rounded-lg tracking-wide border border-gray-800 cursor-pointer hover:bg-gray-800 hover:text-gray-300">
            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mr-2 w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z"/>
            </svg>
            <span class="file-label">Upload a file as Proof</span>
        </label>
        <input id="{{ wizard.form.proof.id_for_label }}" name="{{ wizard.form.prefix }}-{{ wizard.form.proof.name }}" type="file" class="hidden file-input" required/>
    </div>
{% endblock %}
