{% extends "main/forms/wizard/base.html" %}

{% load um_components %}

{% block form_content %}

    {# Account #}
    {% if wizard.form.account.errors %}
        <div class="flex justify-center">
            {% include "main/forms/field_error_list.html" with errors=wizard.form.account.errors %}
        </div>
    {% endif %}
    {{ wizard.form.account }}

    {# Pet #}
    {% if wizard.form.pets.errors %}
        <div class="flex justify-center">
            {% include "main/forms/field_error_list.html" with errors=wizard.form.pets.errors %}
        </div>
    {% endif %}
    {{ wizard.form.pets }}

    {% textarea_input wizard.form.notes prefix=wizard.form.prefix %}

    {% file_input wizard.form.proof prefix=wizard.form.prefix %}

{% endblock %}
