{% extends "main/forms/wizard/base.html" %}

{% load um_components %}

{% block extra_head %}
    {{ block.super }}
    {{ wizard.form.media }}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let minutes_selector = document.getElementById("{{ wizard.form.value.id_for_label }}_minutes");
            Inputmask(
                {
                    mask: "9[99]",
                    placeholder: "0",
                    positionCaretOnClick: "select",
                    numericInput: true,
                }
            ).mask(minutes_selector);
            let seconds_selector = document.getElementById("{{ wizard.form.value.id_for_label }}_seconds");
            Inputmask(
                {
                    mask: "9[9].9[9]",
                    placeholder: "0",
                    positionCaretOnClick: "radixFocus",
                    positionCaretOnTab: false,
                }
            ).mask(seconds_selector);
        });
    </script>
{% endblock %}

{% block form_content %}

    {# Account(s) #}
    {% for field in wizard.form %}
        {% if "account" in field.name %}
            {% if field.errors %}
                <div class="flex justify-center">
                    {% include "main/forms/field_error_list.html" with errors=field.errors %}
                </div>
            {% endif %}
            {{ field }}
        {% endif %}
    {% endfor %}

    {# Value #}
    {% if wizard.form.value.errors %}
        <div class="flex justify-center">
            {% include "main/forms/field_error_list.html" with errors=wizard.form.value.errors %}
        </div>
    {% endif %}
    <div class="mx-2 my-4">
        <label for="{{ wizard.form.value.id_for_label }}" class="text-sm font-medium text-gray-900">
            Time
        </label>
        <div class="flex justify-start">
            <input id="{{ wizard.form.value.id_for_label }}_minutes"
                   name="{{ wizard.form.prefix }}-{{ wizard.form.value.name }}"
                   type="text"
                   autocomplete="{{ wizard.form.value.name }}"
                   maxlength="{{ wizard.form.value.field.max_length }}"
                   required
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 w-32 inline-block">
            :
            <input id="{{ wizard.form.value.id_for_label }}_seconds"
                   name="{{ wizard.form.prefix }}-{{ wizard.form.value.name }}"
                   type="text"
                   autocomplete="{{ wizard.form.value.name }}"
                   maxlength="{{ wizard.form.value.field.max_length }}"
                   required
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 w-32 inline-block">
        </div>
    </div>

    {% textarea_input wizard.form.notes prefix=wizard.form.prefix %}

    {% file_input wizard.form.proof prefix=wizard.form.prefix %}

{% endblock %}
