<h3 class="mb-2 text-5xl text-center font-runescape text-yellow-runescape text-border">
    Collection Logs
</h3>
<table class="overflow-hidden min-w-full max-w-4xl bg-gray-200 rounded-lg shadow-lg">
    <thead class="bg-gray-800 rounded-lg">
    <tr class="text-white">
        <th class="px-4 py-2 text-left text-md">
            Username
        </th>
        <th class="px-4 py-4 text-left text-md">
            Total
        </th>
    </tr>
    </thead>
    <tbody>
    {% for account in accounts %}
        <tr class="even:bg-gray-100 odd:bg-gray-50 {% if forloop.counter0 >= 5 %}hidden xl:table-row{% endif %}">
            <td class="px-4 py-4 whitespace-nowrap">
                {{ account.name }}
            </td>
            <td class="px-4 py-4 text-2xl whitespace-nowrap font-runescape">
                <p class="pr-2 text-center">{{ account.col_logs }}/{{ max_col_log }}</p>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
