<h3 class="mb-2 text-5xl text-center font-runescape text-yellow-runescape text-border">
    Recent Achievements
</h3>
<table class="overflow-hidden min-w-full rounded-lg shadow-lg">
    <thead class="bg-gray-800 rounded-lg">
    <tr class="text-white">
        <th class="px-4 py-4 text-left text-md">
            Username
        </th>
        <th class="px-4 py-4 text-left text-md">
            Date
        </th>
        <th class="px-4 py-4 text-left text-md">
            Type
        </th>
        <th class="px-4 py-4 text-left text-md">
            Proof
        </th>
        <th class="px-4 py-4 text-left text-md">
            Achievement
        </th>
    </tr>
    </thead>
    <tbody>
    {% for submission in recent_submissions %}
        <tr class="even:bg-gray-100 odd:bg-gray-50">
            <td class="flex flex-wrap px-4 py-4 max-w-xs">
                {% for account in submission.accounts.all %}
                    <span class="rounded-lg px-2 m-1">
                        {{ account.name }}
                    </span>
                {% endfor %}
            </td>
            <td class="px-4 py-4 text-sm font-light whitespace-nowrap">
                {{ submission.date|date:"M d, Y" }}
            </td>
            <td class="px-4 py-4 text-sm font-light max-w-sm">
                {{ submission.type_display }}
            </td>
            <td class="px-4 py-4 text-sm font-light text-gray-900 underline whitespace-nowrap hover:text-gray-600">
                <a href="{{ submission.proof.url }}" target="_blank">
                    Proof
                </a>
            </td>
            <td class="px-4 py-4 text-2xl whitespace-nowrap font-runescape">
                {{ submission.value_display }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
