<div class="mx-2 my-4 flex w-80 flex-col flex-wrap justify-center">
    {% if field.errors %}
        <div class="flex justify-center">
            {% include "main/forms/field_error_list.html" with errors=field.errors %}
        </div>
    {% endif %}
    <label for="{{ field.id_for_label }}" class="text-sm font-medium text-gray-900">
        {% if label %}
            {{ label }}
        {% else %}
            {{ field.label }}
        {% endif %}
        {% if field.field.required %}*{% endif %}
    </label>
    <input id="{{ field.id_for_label }}"
           name="{% if prefix %}{{ prefix }}-{% endif %}{{ field.name }}"
           type="{{ field.field.widget.input_type }}"
           max="{{ field.field.max_value }}"
           min="{{ field.field.min_value }}"
           maxlength="{{ field.field.max_length }}"
           value="{% if field.field.initial %}{{ field.field.initial }}{% endif %}"
           {% if field.field.required %}required{% endif %}
           class="block w-full rounded-lg border border-gray-300 bg-gray-50 text-sm text-gray-900 p-2.5 focus:border-blue-500 focus:ring-blue-500">
    <p class="text-sm text-gray-600">
        {{ field.help_text }}
    </p>
</div>
