<div class="mx-2 my-4 flex w-80 flex-col flex-wrap justify-center">
    {% if field.errors %}
        <div class="flex justify-center">
            {% include "main/forms/field_error_list.html" with errors=field.errors %}
        </div>
    {% endif %}
    <label for="{{ field.id_for_label }}" class="text-sm font-medium text-gray-900">
        {% if label %}
            {{ label }}
        {% else %}
            {{ field.label }}
        {% endif %}
        {% if field.field.required %}*{% endif %}
    </label>
    <textarea id="{{ field.id_for_label }}"
              name="{% if prefix %}{{ prefix }}-{% endif %}{{ field.name }}"
              autocomplete="{{ field.name }}"
              maxlength="{{ field.field.max_length }}"
              placeholder="{{ field.field.widget.attrs.placeholder }}"
              {% if field.field.required %}required{% endif %}
              class="block h-40 w-80 rounded-lg border border-gray-300 bg-gray-50 text-sm text-gray-900 p-2.5 focus:border-blue-500 focus:ring-blue-500"></textarea>
    <p class="text-sm text-gray-600">
        {{ field.help_text }}
    </p>
</div>
