{% load static %}
<h3 class="mb-2 text-center text-5xl font-runescape">
    Grandmasters
</h3>
<table class="min-w-full max-w-4xl overflow-hidden rounded-lg bg-gray-200 shadow-lg">
    <thead class="sticky top-0 min-w-full rounded-lg bg-gray-800">
    <tr class="text-white">
        <th class="px-2 py-4 text-center md:text-md md:p-4">
            Username
        </th>
        <th class="px-1 py-4 text-center md:text-md md:py-4">
            Proof
        </th>
        <th class="px-2 py-4 text-center md:text-md md:p-4">
            Date
        </th>
    </tr>
    </thead>
    <tbody>
    {% for submission in submissions %}
        <tr class="odd:bg-gray-50 even:bg-gray-100">
            <td class="whitespace-nowrap py-4 text-center md:px-2">
                {{ submission.account.display_name }}
            </td>
            <td class="py-4 font-runescape">
                {% if request.user.is_authenticated %}
                    <div class="m-auto w-min">
                        <a href="{{ submission.proof.url }}" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                 class="h-6 w-6 text-gray-400 transition ease-in-out hover:scale-125 hover:text-gray-800">
                                <path fill-rule="evenodd"
                                      d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </a>
                    </div>
                    {% if submission.id == 615 %}
                        <div class="m-auto w-min">
                            <a href="{% static 'img/proof/katze_btw_iron_gm.png' %}" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                     class="h-6 w-6 text-gray-400 transition ease-in-out hover:scale-125 hover:text-gray-800">
                                    <path fill-rule="evenodd"
                                          d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z"
                                          clip-rule="evenodd"></path>
                                </svg>
                            </a>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="static m-auto w-min group" tabindex="0">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                             class="h-6 w-6 text-gray-400 transition ease-in-out hover:scale-125 hover:cursor-pointer hover:text-gray-800">
                            <path fill-rule="evenodd"
                                  d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <span class="absolute max-md:right-0 max-md:left-0 z-10 max-md:m-auto group-focus-within:block hidden w-72 translate-y-2 rounded-lg bg-gray-600 p-2 text-center text-base text-gray-50 group-hover:block hover:cursor-default focus:outline-none md:w-96 md:-translate-x-1/2"
                              tabindex="-1">
                        You must be logged in to view proof.
                        </span>
                    </div>
                {% endif %}
            </td>

            <td class="whitespace-nowrap py-4 text-center text-2xl font-runescape md:px-2">
                <p>{{ submission.date|date:"M d, Y" }}</p>
                {% if submission.id == 615 %}<p>Mar 17, 2023</p>{% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
