{% load static %}

<h3 class="mb-2 text-5xl text-center font-runescape text-yellow-runescape text-border">
    Grandmasters
</h3>
<table class="overflow-hidden min-w-full max-w-4xl bg-gray-200 rounded-lg shadow-lg">
    <thead class="sticky top-0 min-w-full bg-gray-800 rounded-lg">
    <tr class="text-white">
        <th class="px-2 py-4 text-center md:p-4 md:text-md">
            Username
        </th>
        <th class="px-1 py-4 text-center md:py-4 md:text-md">
            Proof
        </th>
        <th class="px-2 py-4 text-center md:p-4 md:text-md">
            Date
        </th>
    </tr>
    </thead>
    <tbody>
    {% for submission in submissions %}
        <tr class="even:bg-gray-100 odd:bg-gray-50">
            <td class="py-4 text-center whitespace-nowrap md:px-2">
                {{ submission.account.name }}
            </td>
            <td class="py-4 font-light text-center text-gray-900 underline whitespace-nowrap md:px-2 hover:text-gray-600">
                <div class="m-auto w-min">
                    <a href="{{ submission.proof.url }}" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-gray-400 transition ease-in-out hover:scale-125 hover:text-gray-800">
                            <path fill-rule="evenodd"
                                  d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </a>
                </div>
                {% if submission.id == 615 %}
                    <div class="m-auto w-min">
                        <a href="{% static 'img/proof/katze_btw_iron_gm.png' %}" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-gray-400 transition ease-in-out hover:scale-125 hover:text-gray-800">
                                <path fill-rule="evenodd"
                                      d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </a>
                    </div>
                {% endif %}
            </td>
            <td class="py-4 text-2xl text-center whitespace-nowrap md:px-2 font-runescape">
                <p>{{ submission.date|date:"M d, Y" }}</p>
                {% if submission.id == 615 %}<p>March 17, 2023</p>{% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
