<h3 class="mb-2 text-5xl text-center font-runescape text-yellow-runescape text-border">
    Pets Leaderboard
</h3>
<table class="overflow-hidden min-w-full max-w-4xl bg-gray-200 rounded-lg shadow-lg">
    <thead class="bg-gray-800 rounded-lg">
    <tr class="text-white">
        <th class="px-2 py-4 text-center md:p-4 md:text-md">
            Username
        </th>
        <th class="hidden p-4 text-center whitespace-nowrap md:table-cell text-md">
            Total Pets
        </th>
        <th class="px-2 py-4 md:p-4">
            Pets
        </th>
    </tr>
    </thead>
    <tbody>
    {% for account in accounts %}
        <tr class="even:bg-gray-100 odd:bg-gray-50">
            <td class="py-2 text-center whitespace-nowrap">
                {{ account.name }}
            </td>
            <td class="hidden py-2 text-center whitespace-nowrap md:table-cell">
                <div class="px-4 py-4 text-2xl whitespace-nowrap font-runescape">
                    <p class="pr-2 text-center">{{ account.pets.count }}</p>
                </div>
            </td>
            <td class="py-4 text-center md:px-2 font-runescape">
                <div class="flex flex-row flex-wrap gap-1 max-md:ml-4">
                    {% for pet_submission in account.pets %}
                        <div class="group" tabindex="0">
                            <a href="{{ pet_submission.proof.url }}" target="_blank">
                                <img src="{{ pet_submission.pet.icon.url }}" class="inline-block object-scale-down">
                            </a>
                            <span class="hidden absolute z-10 p-2 w-72 text-base text-center text-gray-50 bg-gray-600 rounded-lg translate-y-2 max-md:right-0 max-md:left-0 max-md:m-auto md:-translate-x-1/2 md:w-96 group-hover:block group-focus-within:block focus:outline-none hover:cursor-default"
                                  tabindex="-1">
                                <p>{{ pet_submission.pet.name }}</p>
                                {{ pet_submission.notes }}
                            </span>
                        </div>
                    {% endfor %}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
