<div class="my-8 flex flex-col items-center justify-center banner-block md:my-16">
    <h2 class="flex mb-4 px-4 justify-center shadow-md shadow-um-{{ self.theme }}/30 py-2 rounded-lg bg-um-{{ self.theme }} text-gray-100 text-center text-3xl md:text-5xl font-bold cursor-default md:py-4 md:px-12 md:gap-2">
        {{ self.title }}
    </h2>
    <p class="mx-2 mb-2 text-center text-lg text-slate-800 md:text-xl xl:mx-64">
        {{ self.description }}
    </p>
    <a href="{{ self.link.url }}" class="text-xl font-bold text-cyan-500 hover:text-gray-300 md:text-2xl">
        {{ self.link }}
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline-block h-6 w-6 align-top">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"></path>
        </svg>
    </a>
</div>