{% extends "main/site_base.html" %}

{% load um_components %}

{% block content %}
    {% page_header "Log in" %}
    {% if form.errors %}
        <div class="flex justify-center">
            <p class="basis-7/12 rounded-lg border border-red-700 p-4 text-center text-lg text-red-700">
                Please enter a correct username and password. Note that both fields may be case-sensitive.
            </p>
        </div>
    {% endif %}
    <div class="flex justify-center">
        <form method="post">
            {% csrf_token %}

            {% simple_input form.username %}

            {% simple_input form.password %}

            <div class="flex justify-center">
                <button type="submit" tabindex="0" class="mx-2 my-4 rounded-md bg-gray-300 px-3 py-2 font-medium text-gray-800 shadow-md transition ease-in-out hover:scale-105 hover:bg-gray-800 hover:text-white">
                    Log in
                </button>
            </div>
        </form>
    </div>
{% endblock %}