{% extends "main/site_base.html" %}

{% load um_components %}

{% block content %}
    {% page_header "Log in" %}
    {% if form.errors %}
        <div class="flex justify-center">
            <p class="p-4 text-lg text-center text-red-700 rounded-lg border border-red-700 basis-7/12">
                Please enter a correct username and password. Note that both fields may be case-sensitive.
            </p>
        </div>
    {% endif %}
    <div class="flex justify-center">
        <form method="post">
            {% csrf_token %}

            {% simple_input form.username %}

            {% simple_input form.password %}

            <div class="flex justify-center">
                <button type="submit" tabindex="0" class="px-3 py-2 mx-2 my-4 font-medium text-gray-800 bg-gray-300 rounded-md shadow-md transition ease-in-out hover:bg-gray-800 hover:text-white hover:scale-105">
                    Log in
                </button>
            </div>
        </form>
    </div>
{% endblock %}