{% extends "main/site_base.html" %}

{% load um_components %}

{% block content %}
    {% page_header "Change Password" %}
    {% if form.errors %}
        <div class="flex justify-center pb-4">
            <p class="basis-7/12 rounded-lg border border-red-700 p-4 text-center text-lg text-red-700">
                Please fix the errors below.
            </p>
        </div>
    {% endif %}
    <div class="flex justify-center">
        <form method="post">
            {% csrf_token %}

            {% simple_input form.old_password %}

            <div class="mx-2 my-4 flex w-80 flex-col flex-wrap justify-center">
                {% if form.new_password1.errors %}
                    <div class="flex justify-center">
                        {% include "main/forms/field_error_list.html" with errors=form.new_password1.errors %}
                    </div>
                {% endif %}
                <label for="{{ form.new_password1.id_for_label }}" class="text-sm font-medium text-gray-900">
                    {% if label %}
                        {{ label }}
                    {% else %}
                        {{ form.new_password1.label }}
                    {% endif %}
                    {% if form.new_password1.field.required %}*{% endif %}
                </label>
                <input id="{{ form.new_password1.id_for_label }}"
                       name="{% if prefix %}{{ prefix }}-{% endif %}{{ form.new_password1.name }}"
                       type="{{ form.new_password1.field.widget.input_type }}"
                       max="{{ form.new_password1.field.max_value }}"
                       min="{{ form.new_password1.field.min_value }}"
                       maxlength="{{ form.new_password1.field.max_length }}"
                       value="{% if form.new_password1.field.initial %}{{ form.new_password1.field.initial }}{% endif %}"
                       {% if form.new_password1.field.required %}required{% endif %}
                       class="block w-full rounded-lg border border-gray-300 bg-gray-50 text-sm text-gray-900 p-2.5 focus:border-blue-500 focus:ring-blue-500">
            </div>

            {% simple_input form.new_password2 %}

            <div class="flex justify-center">
                <button type="submit" tabindex="0" class="mx-2 my-4 rounded-md bg-gray-300 px-3 py-2 font-medium text-gray-800 shadow-md transition ease-in-out hover:scale-105 hover:bg-gray-800 hover:text-white">
                    Change Password
                </button>
            </div>

        </form>
    </div>
{% endblock %}
