{% extends 'site_base.html' %}

{% block content %}
    {{ block.super }}
    <div class="bg-gray-50 h-auto p-4 rounded-lg">
        <div class="flex justify-center">
            <div class="flex justify-center items-center my-6 bg-gray-800 rounded-lg basis-9/12">
                <h1 class="tracking-wide py-2 font-runescape text-6xl text-yellow-runescape text-border">
                    Change Password
                </h1>
            </div>
        </div>
        {% if form.errors %}
            <div class="flex justify-center pb-4">
                <p class="text-lg text-red-700 basis-7/12 border border-red-700 rounded-lg p-4 text-center">
                    Please fix the errors below.
                </p>
            </div>
        {% endif %}
        <div class="flex justify-center">
            <form method="post">
                {% csrf_token %}

                {# Old password #}
                <div class="block mx-2 my-4">
                    {% if form.old_password.errors %}
                        <div class="flex justify-center">
                            {% include 'main/forms/field_error_list.html' with errors=form.old_password.errors %}
                        </div>
                    {% endif %}
                    <label for="{{ form.old_password.id_for_label }}" class="text-sm font-medium text-gray-900">
                        Old Password
                    </label>
                    <input type="password"  id="{{ form.old_password.id_for_label }}" name="{{ form.old_password.name }}" autocomplete="{{ form.old_password.name }}" maxlength="{{ form.old_password.field.max_length }}" required
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 w-80">
                </div>

                {# New password #}
                <div class="block mx-2 my-4">
                    {% if form.new_password1.errors %}
                        <div class="flex justify-center">
                            {% include 'main/forms/field_error_list.html' with errors=form.new_password1.errors %}
                        </div>
                    {% endif %}
                    {% if form.new_password2.errors %}
                        <div class="flex justify-center">
                            {% include 'main/forms/field_error_list.html' with errors=form.new_password2.errors %}
                        </div>
                    {% endif %}
                    <label for="{{ form.new_password1.id_for_label }}" class="text-sm font-medium text-gray-900">
                        New Password
                    </label>
                    <input type="password"  id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.name }}" autocomplete="{{ form.new_password1.name }}" maxlength="{{ form.new_password1.field.max_length }}" required
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 w-80">
                </div>

                {# New password confirmation #}
                <div class="block mx-2 my-4">
                    <label for="{{ form.new_password2.id_for_label }}" class="text-sm font-medium text-gray-900">
                        Confirm New Password
                    </label>
                    <input type="password"  id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.name }}" autocomplete="{{ form.new_password2.name }}" maxlength="{{ form.new_password2.field.max_length }}" required
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 w-80">
                </div>

                {# Submit #}
                <div class="flex justify-center">
                    <button type="submit" tabindex="0"
                            class="text-gray-300 bg-gray-800 px-3 py-2 rounded-md my-4 font-medium hover:bg-gray-700 hover:text-white">
                        Change Password
                    </button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
