{% extends "main/site_base.html" %}

{% load static main_extras %}

{% block extra_head %}
    {{ block.super }}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            function setTimer(duration, element) {
                let interval = setInterval(() => {
                    let hours = Math.trunc(duration / 3600),
                        minutes = Math.trunc(duration / 60) % 60,
                        seconds = duration % 60;

                    element.textContent = `${String(hours).padStart(2, '0')} : ${String(minutes).padStart(2, '0')} : ${String(seconds).padStart(2, '0')}`;
                    if (duration-- === 0) {
                        clearInterval(interval);
                    }

                }, 1000);
            }

            let timer = document.getElementById("countdown-timer"),
                today = new Date(),
                end_date = new Date("{{ bounty.end_date.isoformat }}");

            setTimer(Math.trunc((end_date - today) / 1000), timer);
        });
    </script>
{% endblock extra_head %}

{% block content %}
    <div class="text-center">
        <div class="relative mx-auto inline-block">
            <img src="{{ bounty.image.url }}">
            <div class="absolute inset-x-0 bottom-56 mx-auto w-fit">
                <div class="self-center whitespace-nowrap text-center align-middle text-6xl font-bold font-runescape">
                    {{ bounty.title }}
                </div>
            </div>
            <div class="absolute inset-x-0 bottom-24 mx-auto w-fit">
                <div class="relative flex">
                    <img src="{% static "bounty/img/coin_stack.webp" %}" class="h-24 w-24">
                    <p class="absolute text-4xl tracking-wide text-green-500 font-runescape text-shadow">
                        {{ bounty.prize_pool|gp_display }}
                    </p>
                </div>
            </div>
            <div class="absolute inset-x-0 bottom-4 mx-auto w-fit">
                <div id="countdown-timer" class="self-center whitespace-nowrap text-center align-middle text-5xl font-bold font-runescape">
                    00 : 00 : 00
                </div>
            </div>
            <div class="absolute right-4 bottom-4">
                <a href="{% url "bounty:bounty-rules" %}" class="self-center whitespace-nowrap text-center align-middle text-4xl font-runescape">Rules</a>
            </div>
        </div>

    </div>


    <div class="flex flex-wrap justify-center gap-1">
        <span class="basis-full xl:basis-7/12">
            {% include "main/board.html" %}
        </span>
    </div>

    <div class="flex flex-wrap justify-evenly gap-3">
        <a href="{% url "bounty:bounty-index" %}" class="whitespace-nowrap text-center align-middle text-4xl font-runescape">Previous Bounties</a>
    </div>

{% endblock content %}
