{% extends "bounty/base.html" %}

{% load um_components %}

{% block content %}
    {% page_header "Rules" %}
    <div class="flex flex-wrap justify-center">
        <ul class="basis-7/12">
            <li class="text-center">
                <h3 class="text-xl font-bold">Completed the selected content as fast possible</h3>
                <p></p>
            </li>
            <li class="text-center">
                <h3 class="text-xl font-bold">Compete for Prizes</h3>
                <p></p>
            </li>
            <li class="text-center">
                <h3 class="text-xl font-bold">Fresh leaderboard</h3>
                <p>That insane PB</p>
            </li>
            <li class="text-center">
                <h3 class="text-xl font-bold">Multiple ways to win</h3>
                <p>Don't think you have what it takes to break top 3? Compete in other ways to win! Each Bounty will have alternative paths to victory (and claiming some gp), so everyone can participate.</p>
            </li>
        </ul>
    </div>
{% endblock content %}
