{% extends "main/site_base.html" %}

{% load static um_components main_extras %}

{% block content %}
    <div class="flex flex-col items-center justify-between">
        {% page_header "Dragonstone Points Breakdown" %}

        <ul class="mb-4 flex max-w-xl flex-col items-center overflow-hidden rounded-lg bg-gray-50 p-4 shadow-lg">
            <li class="py-1">
                <span class="align-middle">Expiration Period:</span>
                <span class="whitespace-nowrap text-center align-middle text-2xl font-runescape">{{ config.DRAGONSTONE_EXPIRATION_PERIOD }} days</span>
                <div class="static m-auto inline-block w-min group" tabindex="0">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="inline-block text-slate-600 transition ease-in-out size-8 hover:scale-125 hover:cursor-pointer hover:text-slate-800">
                        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm8.706-1.442c1.146-.573 2.437.463 2.126 1.706l-.709 2.836.042-.02a.75.75 0 0 1 .67 1.34l-.04.022c-1.147.573-2.438-.463-2.127-1.706l.71-2.836-.042.02a.75.75 0 1 1-.671-1.34l.041-.022ZM12 9a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd"/>
                    </svg>
                    <span class="absolute max-lg:right-0 max-lg:left-0 z-10 max-lg:m-auto group-focus-within:block hidden w-72 translate-y-2 rounded-lg bg-slate-700 p-2 text-center text-base text-gray-50 group-hover:block hover:cursor-default focus:outline-none lg:w-96 lg:-translate-x-1/2" tabindex="-1">
                        The number of days a dragonstone point will last before expiring. 
                    </span>
                </div>
            </li>
            <li class="py-1">
                <span class="align-middle">Rank Threshold:</span>
                <span class="whitespace-nowrap text-center align-middle text-2xl font-runescape">{{ config.DRAGONSTONE_POINTS_THRESHOLD }} points</span>
                <div class="static m-auto inline-block w-min group" tabindex="0">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="inline-block text-slate-600 transition ease-in-out size-8 hover:scale-125 hover:cursor-pointer hover:text-slate-800">
                        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm8.706-1.442c1.146-.573 2.437.463 2.126 1.706l-.709 2.836.042-.02a.75.75 0 0 1 .67 1.34l-.04.022c-1.147.573-2.438-.463-2.127-1.706l.71-2.836-.042.02a.75.75 0 1 1-.671-1.34l.041-.022ZM12 9a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd"/>
                    </svg>
                    <span class="absolute max-lg:right-0 max-lg:left-0 z-10 max-lg:m-auto group-focus-within:block hidden w-72 translate-y-2 rounded-lg bg-slate-700 p-2 text-center text-base text-gray-50 group-hover:block hover:cursor-default focus:outline-none lg:w-96 lg:-translate-x-1/2" tabindex="-1">
                        Minimum number of points required to earn dragonstone rank. 
                    </span>
                </div>
            </li>
            <li class="py-1">
                <span class="align-middle">Max Points from PVM Splits/Group CA Submissions:</span>
                <span class="whitespace-nowrap text-center align-middle text-2xl font-runescape">{{ config.CAPPED_POINTS_MAX }} points</span>
                <div class="static m-auto inline-block w-min group" tabindex="0">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="inline-block text-slate-600 transition ease-in-out size-8 hover:scale-125 hover:cursor-pointer hover:text-slate-800">
                        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm8.706-1.442c1.146-.573 2.437.463 2.126 1.706l-.709 2.836.042-.02a.75.75 0 0 1 .67 1.34l-.04.022c-1.147.573-2.438-.463-2.127-1.706l.71-2.836-.042.02a.75.75 0 1 1-.671-1.34l.041-.022ZM12 9a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd"/>
                    </svg>
                    <span class="absolute max-lg:right-0 max-lg:left-0 z-10 max-lg:m-auto group-focus-within:block hidden w-72 translate-y-2 rounded-lg bg-slate-700 p-2 text-center text-base text-gray-50 group-hover:block hover:cursor-default focus:outline-none lg:w-96 lg:-translate-x-1/2" tabindex="-1">
                        Maximum allowed points earnable from PVM Split/Group CA submissions. Extra points earned in these categories past this maximum will still be saved, but will not be used when calculating your total dragonstone points.
                    </span>
                </div>
            </li>
        </ul>

        <div class="flex flex-wrap items-start justify-center gap-4">
            {# PVM Splits #}
            <table class="overflow-hidden rounded-lg shadow-lg min-w-60">
                <thead class="rounded-lg bg-gray-800">
                <tr class="text-white">
                    <th colspan="2" class="px-1 py-4 text-center text-xl md:py-4">
                        PVM Splits
                    </th>
                </tr>
                <tr class="text-white">
                    <th class="px-1 py-4 text-center md:py-4 md:text-base">
                        Content Difficulty
                    </th>
                    <th class="px-1 py-4 text-center md:py-4 md:text-base">
                        Points
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="odd:bg-gray-50 even:bg-gray-100">
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        Easy
                    </td>
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ config.PVM_SPLIT_EASY_PTS }}
                    </td>
                </tr>
                <tr class="odd:bg-gray-50 even:bg-gray-100">
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        Medium
                    </td>
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ config.PVM_SPLIT_HARD_PTS }}
                    </td>
                </tr>
                <tr class="odd:bg-gray-50 even:bg-gray-100">
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        Hard
                    </td>
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ config.PVM_SPLIT_HARD_PTS }}
                    </td>
                </tr>
                <tr class="odd:bg-gray-50 even:bg-gray-100">
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        Very Hard
                    </td>
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ config.PVM_SPLIT_VERY_HARD_PTS }}
                    </td>
                </tr>
                </tbody>
            </table>

            {# Events #}
            <table class="overflow-hidden rounded-lg shadow-lg min-w-60">
                <thead class="rounded-lg bg-gray-800">
                <tr class="text-white">
                    <th colspan="4" class="px-1 py-4 text-center text-xl md:py-4">
                        Events
                    </th>
                </tr>
                <tr class="text-white">
                    <th class="px-1 py-4 text-center md:py-4 md:text-base">
                        Type
                    </th>
                    <th class="px-1 py-4 text-center md:py-4 md:text-base">
                        Host
                    </th>
                    <th class="px-1 py-4 text-center md:py-4 md:text-base">
                        Participant
                    </th>
                    <th class="px-1 py-4 text-center md:py-4 md:text-base">
                        Donor
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="odd:bg-gray-50 even:bg-gray-100">
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        Major
                    </td>
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ config.EVENT_MAJOR_HOSTS_PTS }}
                    </td>
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ config.EVENT_MAJOR_PARTICIPANTS_PTS }}
                    </td>
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ config.EVENT_MAJOR_DONORS_PTS }}
                    </td>
                </tr>
                <tr class="odd:bg-gray-50 even:bg-gray-100">
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        Mentoring
                    </td>
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ config.EVENT_MENTOR_HOSTS_PTS }}
                    </td>
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ config.EVENT_MENTOR_PARTICIPANTS_PTS }}
                    </td>
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ config.EVENT_MENTOR_DONORS_PTS }}
                    </td>
                </tr>
                <tr class="odd:bg-gray-50 even:bg-gray-100">
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        PVM
                    </td>
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ config.EVENT_MINOR_HOSTS_PTS }}
                    </td>
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ config.EVENT_MINOR_PARTICIPANTS_PTS }}
                    </td>
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ config.EVENT_MINOR_DONORS_PTS }}
                    </td>
                </tr>
                <tr class="odd:bg-gray-50 even:bg-gray-100">
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        Skilling
                    </td>
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ config.EVENT_MINOR_HOSTS_PTS }}
                    </td>
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ config.EVENT_MINOR_PARTICIPANTS_PTS }}
                    </td>
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ config.EVENT_MINOR_DONORS_PTS }}
                    </td>
                </tr>
                <tr class="odd:bg-gray-50 even:bg-gray-100">
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        Other
                    </td>
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ config.EVENT_OTHER_HOSTS_PTS }}
                    </td>
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ config.EVENT_OTHER_PARTICIPANTS_PTS }}
                    </td>
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ config.EVENT_OTHER_DONORS_PTS }}
                    </td>
                </tr>
                </tbody>
                
                {# Group CA #}
                <table class="overflow-hidden rounded-lg shadow-lg min-w-60">
                    <thead class="rounded-lg bg-gray-800">
                    <tr class="text-white">
                        <th colspan="2" class="px-1 py-4 text-center text-xl md:py-4">
                            Group CA 
                        </th>
                    </tr>
                    <tr class="text-white">
                        <th class="px-1 py-4 text-center md:py-4 md:text-base">
                            Tier 
                        </th>
                        <th class="px-1 py-4 text-center md:py-4 md:text-base">
                            Points
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="odd:bg-gray-50 even:bg-gray-100">
                        <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                            Elite
                        </td>
                        <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                            {{ config.GROUP_CA_ELITE_POINTS }}
                        </td>
                    </tr>
                    <tr class="odd:bg-gray-50 even:bg-gray-100">
                        <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                            Master
                        </td>
                        <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                            {{ config.GROUP_CA_MASTER_POINTS }}
                        </td>
                    </tr>
                    <tr class="odd:bg-gray-50 even:bg-gray-100">
                        <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                            Grandmaster
                        </td>
                        <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                            {{ config.GROUP_CA_GRANDMASTER_POINTS }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </table>

            {# Skill of the Month #}
            <table class="overflow-hidden rounded-lg shadow-lg min-w-60">
                <thead class="rounded-lg bg-gray-800">
                <tr class="text-white">
                    <th colspan="2" class="px-1 py-4 text-center text-xl md:py-4">
                        Skill of the Month
                    </th>
                </tr>
                <tr class="text-white">
                    <th class="px-1 py-4 text-center md:py-4 md:text-base">
                        Place
                    </th>
                    <th class="px-1 py-4 text-center md:py-4 md:text-base">
                        Points
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="odd:bg-gray-50 even:bg-gray-100">
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        1st
                    </td>
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ config.SOTM_FIRST_PTS }}
                    </td>
                </tr>
                <tr class="odd:bg-gray-50 even:bg-gray-100">
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        2nd
                    </td>
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ config.SOTM_SECOND_PTS }}
                    </td>
                </tr>
                <tr class="odd:bg-gray-50 even:bg-gray-100">
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        3rd
                    </td>
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ config.SOTM_THIRD_PTS }}
                    </td>
                </tr>
                </tbody>
            </table>

            {# Mentor #}
            <table class="overflow-hidden rounded-lg shadow-lg min-w-60">
                <thead class="rounded-lg bg-gray-800">
                <tr class="text-white">
                    <th colspan="2" class="px-1 py-4 text-center text-xl md:py-4">
                        Mentoring
                    </th>
                </tr>
                <tr class="text-white">
                    <th class="px-1 py-4 text-center md:py-4 md:text-base">
                        Content Difficulty
                    </th>
                    <th class="px-1 py-4 text-center md:py-4 md:text-base">
                        Points
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="odd:bg-gray-50 even:bg-gray-100">
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        Easy
                    </td>
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ config.MENTOR_EASY_PTS }}
                    </td>
                </tr>
                <tr class="odd:bg-gray-50 even:bg-gray-100">
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        Medium
                    </td>
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ config.MENTOR_HARD_PTS }}
                    </td>
                </tr>
                <tr class="odd:bg-gray-50 even:bg-gray-100">
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        Hard
                    </td>
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ config.MENTOR_HARD_PTS }}
                    </td>
                </tr>
                <tr class="odd:bg-gray-50 even:bg-gray-100">
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        Very Hard
                    </td>
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ config.MENTOR_VERY_HARD_PTS }}
                    </td>
                </tr>
                </tbody>
            </table>
            
            {# New Member Raids #}
            <table class="overflow-hidden rounded-lg shadow-lg min-w-60">
                <thead class="rounded-lg bg-gray-800">
                <tr class="text-white">
                    <th class="px-1 py-4 text-center text-xl md:py-4">
                        New Member Raid
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="odd:bg-gray-50 even:bg-gray-100">
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ config.NEW_MEMBER_RAID_PTS }} points
                    </td>
                </tr>
                </tbody>
            </table>
            
            {# New Member Raids #}
            <table class="overflow-hidden rounded-lg shadow-lg min-w-60">
                <thead class="rounded-lg bg-gray-800">
                <tr class="text-white">
                    <th class="px-1 py-4 text-center text-xl md:py-4">
                        Recruit New Member
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="odd:bg-gray-50 even:bg-gray-100">
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ config.RECRUITER_PTS }} points
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}