<h3 class="text-center mb-2 font-runescape text-5xl text-yellow-runescape text-border">
    Pets Leaderboard
</h3>
<table class="min-w-full bg-gray-200 rounded-lg overflow-hidden">
    <thead class="bg-blue-900 rounded-lg">
    <tr class="text-white">
        <th class="text-md px-6 py-4 text-left">
            Username
        </th>
        <th class="text-md px-6 py-4 text-left">
            Number of Pets
        </th>
        <th class="px-6 py-4"></th>
    </tr>
    </thead>
    <tbody>
    {% for account in accounts %}
        <tr class="odd:bg-gray-100">
            <td class="px-6 py-4 whitespace-nowrap">
                {{ account.name }}
            </td>
            <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                <div class="flex">
                    <div class="font-runescape text-2xl px-6 py-4 whitespace-nowrap">
                        <div class="flex justify-center">
                            <p class="pr-2">{{ account.pets.count }}</p>
                        </div>
                    </div>
                </div>
            </td>
            <td class="px-6 py-4">
                <div class="flex gap-2 flex-wrap">
                    {% for pet in account.pets.all|slice:"9" %}
                        <img src="{{ pet.pet.icon.url }}" class="h-6 w-6">
                        {% if forloop.counter == 9 %}
                            <div class="font-bold text-lg tracking-widest">
                                ...
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
