{% load main_extras %}

<h3 class="text-center mb-2 font-runescape text-5xl text-yellow-400 text-border">
    Recent Achievements
</h3>
<table class="min-w-full bg-gray-200 rounded-lg overflow-hidden">
    <thead class="bg-blue-900 rounded-lg">
    <tr class="text-white">
        <th class="text-md px-6 py-4 text-left">
            Username
        </th>
        <th class="text-md px-6 py-4 text-left">
            Date
        </th>
        <th class="text-md px-6 py-4 text-left">
            Board
        </th>
        <th class="text-md px-6 py-4 text-left"></th>
    </tr>
    </thead>
    <tbody>
    {% for submission in recent_submissions %}
        <tr class="even:bg-gray-100">
            <td class="px-6 py-4 whitespace-nowrap">
                {{ submission.user.username }}
            </td>
            <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                {{ submission.date }}
            </td>
            <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                {{ submission.board.name }}
            </td>
            <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                {{ submission.value|value_display:submission.board.metric }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
