@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'runescape';
        src: url(../../fonts/RuneScape-Chat-Bold-07.ttf) format('truetype');
    }
}

@responsive {
    .text-border {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    .text-yellow-runescape {
        --tw-text-opacity: 1;
        color: #ffff00;
    }

    .scroll-bar {
        overflow: overlay;
    }

    .scroll-bar::-webkit-scrollbar {
        width: 4px;
        background-color: transparent;
    }

    .scroll-bar:hover::-webkit-scrollbar {
        width: 4px;
        background-color: transparent;
    }

    .scroll-bar:hover::-webkit-scrollbar-thumb {
        background: #475569;
        -webkit-border-radius: 1ex;
    }

    .scroll-bar::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}