@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Kumbh Sans';
        src: url(../../fonts/KumbhSans-Regular.ttf) format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Kumbh Sans';
        src: url(../../fonts/KumbhSans-Thin.ttf) format('truetype');
        font-weight: 100;
        font-style: normal;
    }
    @font-face {
        font-family: 'Kumbh Sans';
        src: url(../../fonts/KumbhSans-ExtraLight.ttf) format('truetype');
        font-weight: 200;
        font-style: normal;
    }
    @font-face {
        font-family: 'Kumbh Sans';
        src: url(../../fonts/KumbhSans-Light.ttf) format('truetype');
        font-weight: 300;
        font-style: normal;
    }
    @font-face {
        font-family: 'Kumbh Sans';
        src: url(../../fonts/KumbhSans-Medium.ttf) format('truetype');
        font-weight: 500;
        font-style: normal;
    }
    @font-face {
        font-family: 'Kumbh Sans';
        src: url(../../fonts/KumbhSans-SemiBold.ttf) format('truetype');
        font-weight: 600;
        font-style: normal;
    }
    @font-face {
        font-family: 'Kumbh Sans';
        src: url(../../fonts/KumbhSans-Bold.ttf) format('truetype');
        font-weight: 700;
        font-style: normal;
    }
    @font-face {
        font-family: 'Kumbh Sans';
        src: url(../../fonts/KumbhSans-ExtraBold.ttf) format('truetype');
        font-weight: 800;
        font-style: normal;
    }
    @font-face {
        font-family: 'Kumbh Sans';
        src: url(../../fonts/KumbhSans-Black.ttf) format('truetype');
        font-weight: 900;
        font-style: normal;
    }
    @font-face {
        font-family: 'runescape';
        src: url(../../fonts/RuneScape-Chat-07.ttf) format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'runescape';
        src: url(../../fonts/RuneScape-Chat-Bold-07.ttf) format('truetype');
        font-weight: bold;
        font-style: normal;
    }
    @font-face {
        font-family: 'san-andreas';
        src: url(../../fonts/SanAndreas.otf) format('opentype');
    }
    @font-face {
        font-family: 'old-western';
        src: url(../../fonts/OldWesternOriginal.ttf) format('truetype');
    }
}

@layer utilities {
    .text-border {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    .text-shadow {
        text-shadow: 3px 2px 1px black;
    }

    .text-yellow-runescape {
        --tw-text-opacity: 1;
        color: #ffff00;
    }

    .scroll-bar {
        overflow: overlay;
    }

    .scroll-bar::-webkit-scrollbar {
        width: 4px;
        background-color: transparent;
    }

    .scroll-bar:hover::-webkit-scrollbar {
        width: 4px;
        background-color: transparent;
    }

    .scroll-bar:hover::-webkit-scrollbar-thumb {
        background: #475569;
        -webkit-border-radius: 1ex;
    }

    .scroll-bar::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    .prose :where(iframe):not(:where([class~="not-prose"] *)) {
        @apply w-full h-auto;
        aspect-ratio: 16 / 9;
    }
}
