{% load wagtailcore_tags %}

<div class="relative group md:hidden" tabindex="0">
    <button type="button"
            class="rounded-md px-2 py-2 text-gray-300 hover:bg-gray-800 hover:text-white focus:bg-gray-800 focus:text-white">
        <svg xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 24 24"
             stroke-width="1.5"
             stroke="currentColor"
             class="h-6 w-6 font-bold text-gray-100">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
    </button>
    <ul class="max-md:group-focus-within:block absolute -left-2 z-10 mt-2 hidden max-h-96 overflow-hidden overflow-y-auto whitespace-nowrap rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5 items-left">
        <li>
            <a href="/"
               class="block px-4 py-2 text-gray-900 hover:bg-gray-800 hover:text-white">Home</a>
        </li>
        {% for bc in content_categories %}
            <li>
                <div class="relative group/dropdown" tabindex="0">
                    <button class="block w-full px-4 py-2 text-left text-gray-900 hover:bg-gray-800 hover:text-white">
                        {{ bc.name }}
                    </button>
                    <ul class="group-focus-within/dropdown:block hidden w-full overflow-hidden whitespace-nowrap bg-white text-sm focus:outline-none"
                        tabindex="-1">
                        {% for content in bc.pb_content %}
                            <li>
                                <a href="{{ content.leaderboard_url }}"
                                   class="block px-4 py-2 text-gray-700 hover:bg-gray-300"
                                   tabindex="-1">{{ content.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
        <li>
            <div class="relative group/dropdown" tabindex="0">
                <button class="block w-full px-4 py-2 text-left text-gray-900 hover:bg-gray-800 hover:text-white">
                    Other
                </button>
                <ul class="group-focus-within/dropdown:block hidden w-full overflow-hidden whitespace-nowrap bg-white text-sm focus:outline-none"
                    tabindex="-1">
                    <li>
                        <a href="{% url "pets-leaderboard" %}"
                           class="block px-4 py-2 text-gray-700 hover:bg-gray-300"
                           tabindex="-1">Pets</a>
                    </li>
                    <li>
                        <a href="{% url "col-logs-leaderboard" %}"
                           class="block px-4 py-2 text-gray-700 hover:bg-gray-300"
                           tabindex="-1">Collection Logs</a>
                    </li>
                    <li>
                        <a href="{% url "ca-leaderboard" %}"
                           class="block px-4 py-2 text-gray-700 hover:bg-gray-300"
                           tabindex="-1">Combat Achievements</a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="relative group/dropdown" tabindex="0">
                <button class="block w-full px-4 py-2 text-left text-gray-900 hover:bg-gray-800 hover:text-white">
                    Submit
                </button>
                <ul class="group-focus-within/dropdown:block hidden w-full overflow-hidden whitespace-nowrap bg-white text-sm focus:outline-none"
                    tabindex="-1">
                    <li>
                        <a href="{% url "achievements:submit-achievement" %}"
                           class="block px-4 py-2 text-gray-700 hover:bg-gray-300"
                           tabindex="-1">Achievement</a>
                    </li>
                    <li>
                        <a href="{% url "dragonstone:submit-dragonstone" %}"
                           class="block px-4 py-2 text-gray-700 hover:bg-gray-300"
                           tabindex="-1">Dragonstone</a>
                    </li>
                </ul>
            </div>
        </li>
        {% if request.user.is_superuser or request.user.id == 3 %}
            {% if bounty %}
                <li>
                    <div class="relative group/dropdown" tabindex="0">
                        <a href="{% url "bounty:current-bounty" %}"
                           class="block w-full px-4 py-2 text-left text-gray-900 hover:bg-gray-800 hover:text-white">
                            Bounty
                        </a>
                    </div>
                </li>
            {% endif %}
        {% endif %}
        {% if menu_pages %}
            <li>
                <div class="relative group/dropdown" tabindex="0">
                    <button class="block w-full px-4 py-2 text-left text-gray-900 hover:bg-gray-800 hover:text-white">
                        Resources
                    </button>
                    <ul class="group-focus-within/dropdown:block hidden w-full overflow-hidden whitespace-nowrap bg-white text-sm focus:outline-none"
                        tabindex="-1">
                        {% for menu_page in menu_pages %}
                            <li>
                                <a href="{% pageurl menu_page %}" class="block px-4 py-2 text-gray-700 hover:bg-gray-300" tabindex="-1">
                                    {{ menu_page.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endif %}
    </ul>
</div>

