<div class="relative group hidden md:inline-block" tabindex="0">
    <button class="flex items-center rounded-md py-2 text-gray-300 hover:bg-gray-800 hover:text-white focus:bg-gray-800 focus:text-white">
            <span class="mx-2">
                <span class="relative flex">
                    <svg fill="currentColor"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="h-6 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z">
                        </path>
                    </svg>
                    {% if notifications.exists %}
                        <div id="notifications-count"
                             class="absolute -top-3 -right-3 flex h-6 w-6 items-center justify-center rounded-full border-2 border-gray-800 bg-red-500 text-xs font-bold text-white">
                            {{ notifications.count }}
                        </div>
                    {% endif %}
                </span>
            </span>
        <span class="mx-2 hidden font-bold text-gray-300 lg:block">{{ request.user.account.display_name }}</span>
    </button>
    {% if request.user.is_authenticated %}
        {% include "main/navbar/navbar_user_profile_dropdown_desktop_authenticated.html" %}
    {% else %}
        {% include "main/navbar/navbar_user_profile_dropdown_desktop_unauthenticated.html" %}
    {% endif %}
</div>