{% load wagtailcore_tags %}

<ul id="mobile-navbar-dropdown" class="mb-2 hidden rounded-b-lg bg-slate-900 shadow-lg ring-1 ring-black ring-opacity-5 items-left">
    <li>
        <a href="/" class="block px-4 py-2 text-white">Home</a>
    </li>
    {% for content_category in content_categories %}
        <li>
            <div tabindex="0">
                <button class="block w-full px-4 py-2 text-left text-white mobile-navbar-dropdown-item">
                    {{ content_category.name }}
                </button>
                <ul class="hidden w-full overflow-hidden whitespace-nowrap text-white"
                    tabindex="-1">
                    {% for content in content_category.active_content %}
                        <li>
                            <a href="{{ content.leaderboard_url }}"
                               class="block py-2 pl-12"
                               tabindex="-1">{{ content.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
    {% endfor %}
    <li>
        <div tabindex="0">
            <button class="block w-full px-4 py-2 text-left text-white mobile-navbar-dropdown-item">
                Other
            </button>
            <ul class="hidden w-full overflow-hidden whitespace-nowrap bg-slate-900 text-white"
                tabindex="-1">
                <li>
                    <a href="{% url "pets-leaderboard" %}"
                       class="block py-2 pl-12"
                       tabindex="-1">Pets</a>
                </li>
                <li>
                    <a href="{% url "col-logs-leaderboard" %}"
                       class="block py-2 pl-12"
                       tabindex="-1">Collection Logs</a>
                </li>
                <li>
                    <a href="{% url "ca-leaderboard" %}"
                       class="block py-2 pl-12"
                       tabindex="-1">Combat Achievements</a>
                </li>
                <li>
                    <a href="{% url "top-players-leaderboard" %}"
                       class="block py-2 pl-12"
                       tabindex="-1">Top Players</a>
                </li>
            </ul>
        </div>
    </li>
    {% if bounty %}
        <li>
            <div class="relative" tabindex="0">
                <a href="{% url "bounty:current-bounty" %}"
                   class="block w-full px-4 py-2 text-left text-white">
                    Bounty
                </a>
            </div>
        </li>
    {% else %}
        <li>
            <div class="relative" tabindex="0">
                <a href="{% url "bounty:index" %}"
                   class="block w-full px-4 py-2 text-left text-white">
                    Bounty
                </a>
            </div>
        </li>
    {% endif %}
    <li>
        <div tabindex="0">
            <button class="block w-full px-4 py-2 text-left text-white mobile-navbar-dropdown-item">
                Submit
            </button>
            <ul class="hidden w-full overflow-hidden whitespace-nowrap bg-slate-900 text-white"
                tabindex="-1">
                <li>
                    <a href="{% url "achievements:submit-achievement" %}"
                       class="block py-2 pl-12"
                       tabindex="-1">Achievement</a>
                </li>
                <li>
                    <a href="{% url "dragonstone:submit-dragonstone" %}"
                       class="block py-2 pl-12"
                       tabindex="-1">Dragonstone</a>
                </li>
            </ul>
        </div>
    </li>
    {% if menu_pages %}
        <li>
            <div tabindex="0">
                <button class="block w-full px-4 py-2 text-left text-white mobile-navbar-dropdown-item">
                    Resources
                </button>
                <ul class="hidden w-full overflow-hidden whitespace-nowrap bg-slate-900 text-white"
                    tabindex="-1">
                    {% for menu_page in menu_pages %}
                        <li>
                            <a href="{% pageurl menu_page %}" class="block py-2 pl-12" tabindex="-1">
                                {{ menu_page.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
    {% endif %}
</ul>
