<span>
    <select id="{{ widget.attrs.id }}" name="{{ widget.name }}" required class="hidden">
    </select>
    <label for="autocomplete_{{ widget.attrs.id }}" class="text-sm font-medium text-gray-900">
        {% if label %}
            {{ label}}
        {% else %}
            {{ widget.name|capfirst }}
        {% endif %}
    </label>
    <input id="autocomplete_{{ widget.attrs.id }}" type="text" tabindex="1" spellcheck="false" autocomplete="off"
           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 w-80">
    <div class="selection"></div>
</span>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const autoCompleteJS = new autoComplete({
            selector: "#autocomplete_{{ widget.attrs.id }}",
            data: {

                src: async () => {
                    try {

                        document.getElementById("autocomplete_{{ widget.attrs.id }}").setAttribute("placeholder", "Loading...");

                        const source = await fetch("{{ autocomplete_url }}");
                        const data = await source.json();

                        document.getElementById("autocomplete_{{ widget.attrs.id }}").setAttribute("placeholder", autoCompleteJS.placeHolder);

                        return data.results;
                    } catch (error) {
                        return error;
                    }
                },
                keys: ["text"],
                cache: true,
            },
            searchEngine: "loose",
            placeHolder: "{{ placeholder }}",
            threshold: 0,
            resultsList: {
                element: (list, data) => {
                    const info = document.createElement("p");
                    if (!data.results.length > 0) {
                        info.innerHTML = `
                    <span class="flex text-sm bg-gray-50 text-gray-900 hover:cursor-pointer hover:bg-gray-300 text-ellipsis whitespace-nowrap overflow-hidden py-1.5 px-2">
                        No matching results
                    </span>`;
                    }
                    list.prepend(info);
                },
                class: "absolute origin-top-right rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden w-80 z-50",
                noResults: true,
                maxResults: 15,
            },
            resultItem: {
                class:"flex text-sm bg-gray-50 text-gray-900 hover:cursor-pointer hover:bg-gray-300 text-ellipsis whitespace-nowrap overflow-hidden py-1.5 px-2",
            },
            events: {
                input: {
                    focus: () => {
                        autoCompleteJS.start();
                    },
                    selection: (event) => {
                        let select = document.getElementById("{{ widget.attrs.id }}"),
                            option = document.createElement("option");
                        option.text = event.detail.selection.value.text;
                        option.value = event.detail.selection.value.id;

                        if (![...select.options].map(o => o.value).includes(option.value)) {
                            select.add(option);
                        }

                        select.value = event.detail.selection.value.id;

                        const feedback = event.detail;
                        autoCompleteJS.input.value = feedback.selection.value[feedback.selection.key];
                    }
                }
            }
        });
    });
</script>