{% extends "main/site_base.html" %}

{% load um_components %}

{% block content %}
    {% page_header "Edit Preferred Name" %}
    {% if form.errors %}
        <div class="flex justify-center pb-4">
            <p class="basis-7/12 rounded-lg border border-red-700 p-4 text-center text-lg text-red-700">
                Please fix the errors below.
            </p>
        </div>
    {% endif %}
    <div class="flex justify-center">
        <form method="post">
            {% csrf_token %}

            {% simple_input form.preferred_name %}

            <div class="flex justify-center">
                <button type="submit" tabindex="0" class="mx-2 my-4 rounded-md bg-gray-300 px-3 py-2 font-medium text-gray-800 shadow-md transition ease-in-out hover:scale-105 hover:bg-gray-800 hover:text-white">
                    Change Preferred Name
                </button>
            </div>

        </form>
    </div>
{% endblock %}
