{% extends "main/forms/wizard/base.html" %}

{% load um_components %}

{% block header %}
    {% page_header "Submit Number of Collection Logs" %}
{% endblock %}

{% block form_content %}

    {# Account #}
    <div class="{% if wizard.form.account.initial %}hidden{% endif %}">
        {# hide input if initial value was provided #}
        {% if wizard.form.account.errors %}
            <div class="mx-2 flex w-80 justify-center">
                {% include "main/forms/field_error_list.html" with errors=wizard.form.account.errors %}
            </div>
        {% endif %}
        {{ wizard.form.account }}
    </div>

    {# Combat Achievement Tier #}
    <div class="mx-2 my-4 flex w-80 flex-col flex-wrap justify-center">
        {% if wizard.form.ca_tier.errors %}
            <div class="flex justify-center">
                {% include "main/forms/field_error_list.html" with errors=wizard.form.ca_tier.errors %}
            </div>
        {% endif %}
        <label for="{{ wizard.form.ca_tier.id_for_label }}" class="text-sm font-medium text-gray-900">
            Combat Achievement Tier
            {% if wizard.form.ca_tier.field.required %}*{% endif %}
        </label>
        <select id="{{ wizard.form.ca_tier.id_for_label }}"
                name="{{ wizard.form.prefix }}-{{ wizard.form.ca_tier.name }}"
                {% if wizard.form.ca_tier.field.required %}required{% endif %}
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 text-sm text-gray-900 p-2.5 focus:border-blue-500 focus:ring-blue-500">
            {% for choice in wizard.form.ca_tier.field.choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endfor %}
        </select>
        <p class="text-sm text-gray-600">
            {{ wizard.form.ca_tier.help_text }}
        </p>
    </div>

    {% textarea_input wizard.form.notes prefix=wizard.form.prefix %}

    {% file_input wizard.form.proof prefix=wizard.form.prefix %}

{% endblock %}
