{% extends "main/forms/wizard/base.html" %}

{% load um_components %}

{% block header %}
    {% page_header "Submit Number of Collection Logs" %}
{% endblock %}

{% block form_content %}

    {# Account #}
    {% if wizard.form.account.errors %}
        <div class="mx-2 flex w-80 justify-center">
            {% include "main/forms/field_error_list.html" with errors=wizard.form.account.errors %}
        </div>
    {% endif %}
    {{ wizard.form.account }}

    {% simple_input wizard.form.col_logs label="Collection Log Total" prefix=wizard.form.prefix %}

    {% textarea_input wizard.form.notes prefix=wizard.form.prefix %}

    {% file_input wizard.form.proof prefix=wizard.form.prefix %}

{% endblock %}
