{% extends "main/forms/wizard/base.html" %}

{% load um_components %}

{% block header %}
    {% page_header "Submit New Pet(s)" %}
{% endblock %}

{% block form_content %}
    <div class="m-auto text-center">
        <h2 class="py-2 font-medium text-xl text-gray-900">
            Please make sure your picture of proof clearly shows <i>all</i> the pets you are submitting for.
        </h2>
        <p class="font-medium text-gray-900">
            Tip: If using RuneLite, use the !pets command to show every pet you own in your chatbox!
        </p>
    </div>

    {# Account #}
    {% if wizard.form.account.errors %}
        <div class="flex justify-center mx-2 w-80">
            {% include "main/forms/field_error_list.html" with errors=wizard.form.account.errors %}
        </div>
    {% endif %}
    {{ wizard.form.account }}

    {# Pet #}
    {% if wizard.form.pets.errors %}
        <div class="flex justify-center mx-2 w-80">
            {% include "main/forms/field_error_list.html" with errors=wizard.form.pets.errors %}
        </div>
    {% endif %}
    {{ wizard.form.pets }}

    {% textarea_input wizard.form.notes prefix=wizard.form.prefix %}

    {% file_input wizard.form.proof prefix=wizard.form.prefix %}

{% endblock %}
