{% extends "main/forms/wizard/base.html" %}
{% load static main_extras um_components %}
{% block extra_head %}
    {{ block.super }}
    {{ wizard.form.media }}
    <script src="{% static "js/inputmask.js" %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let minutes_selector = document.getElementById("{{ wizard.form.minutes.id_for_label }}");
            Inputmask(
                {
                    mask: "9[9][9]",
                    placeholder: "0",
                    positionCaretOnClick: "none",
                }
            ).mask(minutes_selector);
            let seconds_selector = document.getElementById("{{ wizard.form.seconds.id_for_label }}");
            Inputmask(
                {
                    mask: "9[9].9[9]",
                    placeholder: "0",
                    positionCaretOnClick: "radixFocus",
                    positionCaretOnTab: false,
                }
            ).mask(seconds_selector);
        });
    </script>
{% endblock extra_head %}
{% block header %}
    {% page_header "Submit Record for "|addstr:board %}
{% endblock header %}

{% block sub-header %}
    {% if board.team_size == 1 %}
        Submit a new personal best! Your screenshot must include your username, the time achieved, and the content the submssion is for.
    {% else %}
        Submit a new personal best! Your screenshot must include the usernames of everyone on the team, the time achieved, and the content the submission is for.
    {% endif %}
{% endblock sub-header %}

{% block form_content %}
    {{ wizard.form.board }}

    {% if board.team_size == 1 %}
        {# Account #}
        {# only rendered for records with team size equal to 1 #}
        <div class="{% if wizard.form.account.initial %}hidden{% endif %}">
            {# hide input if initial value was provided #}
            {% if wizard.form.account.errors %}
                <div class="mx-2 flex w-80 justify-center">
                    {% include "main/forms/field_error_list.html" with errors=wizard.form.account.errors %}
                </div>
            {% endif %}
            {{ wizard.form.account }}
        </div>
    {% else %}
        {# Accounts #}
        {# only rendered for records with team size greater than 1 #}
        {% if wizard.form.accounts.errors %}
            <div class="mx-2 flex w-80 justify-center">
                {% include "main/forms/field_error_list.html" with errors=wizard.form.accounts.errors %}
            </div>
        {% endif %}
        {{ wizard.form.accounts }}
    {% endif %}

    {# Value #}
    {% if board.content.get_metric_display == 'Time' %}
        <div class="mx-2 my-4">
            {% if wizard.form.value.errors %}
                <div class="flex justify-center">
                    {% include "main/forms/field_error_list.html" with errors=wizard.form.value.errors %}
                </div>
            {% endif %}
            <label for="{{ wizard.form.value.id_for_label }}"
                   class="text-sm font-medium text-gray-900">{{ board.content.metric_name }} *</label>
            <div class="flex w-80 items-center justify-start">
                <input id="{{ wizard.form.minutes.id_for_label }}"
                       name="{{ wizard.form.prefix }}-{{ wizard.form.minutes.name }}"
                       type="text"
                       maxlength="{{ wizard.form.minutes.field.max_length }}"
                       placeholder="Minutes"
                       class="inline-block w-full rounded-lg border border-gray-300 bg-gray-50 text-sm text-gray-900 p-2.5 focus:border-blue-500 focus:ring-blue-500">
                <span class="px-2 font-bold">:</span>
                <input id="{{ wizard.form.seconds.id_for_label }}"
                       name="{{ wizard.form.prefix }}-{{ wizard.form.seconds.name }}"
                       type="text"
                       maxlength="{{ wizard.form.seconds.field.max_length }}"
                       placeholder="Seconds"
                       class="inline-block w-full rounded-lg border border-gray-300 bg-gray-50 text-sm text-gray-900 p-2.5 focus:border-blue-500 focus:ring-blue-500">
            </div>
        </div>
    {% else %}
        <div class="mx-2 my-4 flex w-80 flex-col flex-wrap justify-center">
            {% if wizard.form.value.errors %}
                <div class="flex justify-center">
                    {% include "main/forms/field_error_list.html" with errors=wizard.form.value.errors %}
                </div>
            {% endif %}
            <label for="{{ wizard.form.value.id_for_label }}"
                   class="text-sm font-medium text-gray-900">{{ board.content.metric_name }} *</label>
            <input id="{{ wizard.form.value.id_for_label }}"
                   name="{{ wizard.form.prefix }}-{{ wizard.form.value.name }}"
                   type="number"
                   required
                   class="block w-full rounded-lg border border-gray-300 bg-gray-50 text-sm text-gray-900 p-2.5 focus:border-blue-500 focus:ring-blue-500">
            <p class="text-sm text-gray-600">{{ wizard.form.value.help_text }}</p>
        </div>
    {% endif %}
    {% textarea_input wizard.form.notes prefix=wizard.form.prefix %}
    {% file_input wizard.form.proof prefix=wizard.form.prefix %}
{% endblock form_content %}
