{% extends "main/forms/wizard/base.html" %}

{% load i18n um_components %}

{% block header %}
    {% page_header "Select Board" %}
{% endblock %}

{% block form_content %}
    {# Board #}
    {% if wizard.form.content.errors %}
        <div class="flex justify-center mx-2 w-80">
            {% include "main/forms/field_error_list.html" with errors=wizard.form.content.errors %}
        </div>
    {% endif %}
    {{ wizard.form.content }}

{% endblock %}

{% block submit_text %}{% trans "Next" %}{% endblock %}
