{% extends "main/forms/wizard/base.html" %}

{% load i18n um_components %}

{% block header %}
    {% page_header "Select Board... Again!" %}
{% endblock %}

{% block form_content %}

    {# Board #}
    <div class="mx-2 my-4 flex w-80 flex-col flex-wrap justify-center">
        {% if wizard.form.board.errors %}
            <div class="flex justify-center">
                {% include "main/forms/field_error_list.html" with errors=wizard.form.board.errors %}
            </div>
        {% endif %}
        <label for="{{ wizard.form.board.id_for_label }}" class="text-sm font-medium text-gray-900">
            Sub-Board
            {% if wizard.form.board.field.required %}*{% endif %}
        </label>
        <select id="{{ wizard.form.board.id_for_label }}"
                name="{{ wizard.form.prefix }}-{{ wizard.form.board.name }}"
                {% if wizard.form.board.field.required %}required{% endif %}
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 text-sm text-gray-900 p-2.5 focus:border-blue-500 focus:ring-blue-500">
            {% for choice in wizard.form.board.field.choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endfor %}
        </select>
        <p class="text-sm text-gray-600">
            {{ wizard.form.board.help_text }}
        </p>
    </div>

{% endblock %}

{% block submit_text %}{% trans "Next" %}{% endblock %}
