<div class="flex flex-col justify-center mx-2 my-4 flex-wrap w-80">
    <select id="{{ widget.attrs.id }}" name="{{ widget.name }}" required class="hidden">
    </select>
    <label for="autocomplete_{{ widget.attrs.id }}" class="text-sm font-medium text-gray-900">
        {% if label %}
            {{ label }}
        {% else %}
            {{ widget.name|capfirst }}
        {% endif %}
        *
    </label>
    <input id="autocomplete_{{ widget.attrs.id }}" type="text" tabindex="1" spellcheck="false" autocomplete="off" required
           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 w-full">
    <p class="text-sm text-gray-600">
        {{ help_text }}
    </p>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const autoCompleteJS = new autoComplete({
            selector: "#autocomplete_{{ widget.attrs.id }}",
            data: {
                src: async () => {
                    try {
                        document.getElementById("autocomplete_{{ widget.attrs.id }}").setAttribute("placeholder", "Loading...");

                        const source = await fetch("{{ autocomplete_url }}");
                        const data = await source.json();

                        document.getElementById("autocomplete_{{ widget.attrs.id }}").setAttribute("placeholder", autoCompleteJS.placeHolder);

                        return data;
                    } catch (error) {
                        return error;
                    }
                },
                keys: ["text"],
                cache: true,
            },
            searchEngine: "loose",
            placeHolder: "{{ placeholder }}",
            threshold: 0,
            resultsList: {
                element: (list, data) => {
                    const info = document.createElement("p");
                    if (!data.results.length > 0) {
                        info.innerHTML = `
                    <span class="flex text-sm bg-gray-50 text-gray-900 hover:cursor-pointer hover:bg-gray-300 text-ellipsis whitespace-nowrap py-2 px-2">
                        No matching results
                    </span>`;
                    }
                    list.prepend(info);
                },
                class: "absolute origin-top-right rounded-lg bg-gray-50 shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden max-h-48 overflow-y-auto w-80 z-50 py-1 mt-1",
                noResults: true,
                maxResults: 15,
            },
            resultItem: {
                class:"flex group text-sm bg-gray-50 rounded-lg hover:cursor-pointer hover:bg-blue-100 text-ellipsis whitespace-nowrap overflow-hidden py-2 px-2 mx-1",
                highlight: "text-zinc-900 font-semibold bg-gray-50 group-hover:bg-blue-100",
                element: (item, data) => {
                    item.innerHTML = `
                        <span style="font-semibold bg-gray-50 group-hover:bg-gray-300">
                          ${data.match}
                        </span>
                    `;
                },
            },
            events: {
                input: {
                    selection: (event) => {
                        let select = document.getElementById("{{ widget.attrs.id }}"),
                            option = document.createElement("option");

                        // create option
                        option.text = event.detail.selection.value.text;
                        option.value = event.detail.selection.value.id;

                        // if option hasn't been created before, add it
                        if (![...select.options].map(o => o.value).includes(option.value)) {
                            select.add(option);
                        }

                        // set selected option to the newly created option
                        select.value = event.detail.selection.value.id;

                        const feedback = event.detail;
                        autoCompleteJS.input.value = feedback.selection.value[feedback.selection.key];
                    },
                    focus: () => {
                        autoCompleteJS.start();
                    },
                    click: () => {
                        autoCompleteJS.start();
                    },
                },
                list: {
                    scroll: (event) => {
                        let el = event.target;
                        if (el.offsetHeight + el.scrollTop >= el.scrollHeight) {
                            autoCompleteJS.resultsList.maxResults += 10;
                            autoCompleteJS.start();
                        }
                    }
                }
            }
        });
    });
</script>