{% extends "main/site_base.html" %}

{% load static wagtailcore_tags main_extras wagtailembeds_tags %}

{% block extra_head %}
    {{ block.super }}
    <script src="{% static "js/content_page/page.js" %}"></script>
{% endblock extra_head %}

{% block content %}
    {% if page.show_page_index %}
        {% include "main/includes/sidebar.html" %}
    {% endif %}
    <div class="container">
        <div class="mb-6 rounded-lg px-4 bg-um-{{ page.theme }} py-2 text-white sm:mx-20">
            <h1 class="mb-4 cursor-default text-center text-6xl font-semibold tracking-tight md:text-left">{{ page.title }}</h1>
            {% if page.author %}
                <p class="text-xl">By {{ page.author }}</p>
            {% else %}
                <p class="text-xl">By {% get_page_authors page %}</p>
            {% endif %}
            <p>Last updated on {{ page.last_published_at|date:"M d, Y" }}</p>
        </div>
        <div class="content-page-body sm:px-40">
            {% for block in page.body %}
                {% if block.block_type == "heading_2" %}
                    <div class="mt-6 mb-2 flex justify-center whitespace-nowrap py-2 group md:justify-start">
                        <div class="flex items-center justify-start">
                            <h2 id="{{ block.value|slugify }}"
                                class="cursor-default text-4xl font-bold tracking-tight md:text-5xl">
                                {{ block.value }}
                            </h2>
                            <a href="#{{ block.value|slugify }}" title="Link to this heading." class="header-link">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor"
                                     class="ml-4 h-6 w-6 cursor-pointer stroke-2 text-cyan-500 transition duration-100 group-hover:visible hover:stroke-gray-300 md:invisible">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                {% elif block.block_type == "heading_3" %}
                    <div class="mt-1 mb-1 flex items-center justify-start whitespace-nowrap py-2 group">
                        <h3 id="{{ block.value|slugify }}"
                            class="cursor-default text-2xl font-bold tracking-tight text-um-{{ page.theme }} md:text-3xl">
                            {{ block.value }}
                        </h3>
                        <a href="#{{ block.value|slugify }}" title="Link to this heading." class="header-link">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor"
                                 class="ml-4 h-6 w-6 cursor-pointer stroke-2 text-cyan-500 transition duration-100 group-hover:visible hover:stroke-gray-300 md:invisible">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244"></path>
                            </svg>
                        </a>
                    </div>
                {% elif block.block_type == "rich_text" %}
                    <div class="mb-2">
                        {% include_block block %}
                    </div>
                {% elif block.block_type == "image" %}
                    {% include_block block %}
                {% else %}
                    {{ block }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}