{% extends "main/site_base.html" %}

{% load wagtailimages_tags %}

{% load static landing_leaderboards %}

{% block content %}
    <div class="my-6 flex flex-col items-center justify-between">
        <div class="h-40 w-40 overflow-hidden rounded-lg">
            {% image page.logo original format-gif %}
        </div>
        <h1 class="cursor-default py-2 text-center text-5xl font-bold tracking-wide text-gray-800 sm:text-6xl">
            Unthinking Majority
        </h1>
        <h2 class="hidden cursor-default py-2 text-center font-bold tracking-wide text-gray-700 sm:block sm:text-5xl">
            Leaderboards
        </h2>
    </div>

    {{ page.body }}

    <div class="flex flex-wrap justify-evenly">
        <div class="mx-1 my-4 basis-full lg:basis-auto">
            {% col_logs_leaderboard %}
        </div>
        <div class="order-first mx-1 my-4 basis-full lg:order-none lg:basis-auto">
            {% top_players_leaderboard %}
        </div>
        <div class="mx-1 my-4 basis-full lg:basis-auto">
            {% grandmasters_leaderboard %}
        </div>
    </div>
    <div class="flex flex-wrap justify-center lg:flex-nowrap">
        <div class="mx-1 my-4 basis-full lg:basis-auto">
            {% pets_leaderboard %}
        </div>
        <div class="mx-1 my-4 basis-full lg:basis-auto">
            {% recent_submission_leaderboard %}
        </div>
    </div>

{% endblock %}
