{% extends "main/site_base.html" %}

{% load static leaderboards %}

{% block content %}
    <div class="flex flex-col justify-between items-center my-6">
        <div class="overflow-hidden w-40 h-40 rounded-lg">
            <img class="w-auto h-auto" src="{% static "um_logos/gifs/logo_animated_blue.gif" %}"
                 alt="Unthinking Majority Logo">
        </div>
        <h1 class="py-2 text-center text-4xl sm:text-6xl font-bold tracking-wide text-gray-800">
            Unthinking Majority
        </h1>
        <h2 class="py-2 text-center text-3xl sm:text-5xl font-bold tracking-wide text-gray-700">
            Leaderboards
        </h2>
    </div>

    <div class="flex gap-4 justify-center flex-wrap">
        <div class="flex flex-wrap xl:flex-col gap-4 justify-center">
            <div class="py-2">
                {% top_players_leaderboard %}
            </div>
            <div class="py-2">
                {% col_logs_leaderboard %}
            </div>
        </div>
        <div class="flex-col">
            <div class="flex gap-4 justify-center">
                <div class="py-2">
                    {% recent_submission_leaderboard %}
                </div>
            </div>
            <div class="py-2">
                {% pets_leaderboard %}
            </div>
        </div>
    </div>

{% endblock %}
