{% extends "main/site_base.html" %}

{% load um_components %}

{% block content %}
    {% page_header parent_board.name parent_board.icon %}

    <div class="flex flex-wrap gap-4 justify-around">
        {% for board, page in data %}
            <div class="w-3/8">
                <h2 class="text-4xl tracking-wide text-center text-gray-900 font-runescape">
                    {{ board.name }}
                </h2>
                <div class="py-4">
                    {% include "main/board.html" %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
