{% load main_extras %}

<table class="overflow-hidden min-w-full max-w-4xl rounded-lg">
    <thead class="bg-gray-800 rounded-lg">
    <tr class="text-white">
        <th class="px-6 py-4 text-left text-md">
            Rank
        </th>
        <th class="px-6 py-4 text-left text-md">
            Username
        </th>
        <th class="px-6 py-4 text-left text-md">
            Date
        </th>
        <th class="px-6 py-4 text-left text-md">
            Notes
        </th>
        <th class="px-6 py-4 text-left text-md">
            Proof
        </th>
        <th class="px-6 py-4 text-left text-md">
            {{ board.metric|get_metric_display }}
        </th>
    </tr>
    </thead>
    <tbody>
    {% for submission in page_obj %}
        <tr class="even:bg-gray-200 odd:bg-gray-100">
            <td class="px-6 py-4 whitespace-nowrap">
                {{ forloop.counter0|add:page_obj.start_index }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
                {% for account in submission.accounts.all %}
                    {% if forloop.counter0 > 0 %}
                        , {{ account.name }}
                    {% else %}
                        {{ account.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td class="px-6 py-4 text-sm font-light whitespace-nowrap">
                {{ submission.date }}
            </td>
            <td class="px-6 py-4 text-sm font-light whitespace-nowrap">
            </td>
            <td class="px-6 py-4 text-sm font-light text-gray-900 underline whitespace-nowrap hover:text-gray-600">
                <a href="{{ submission.proof.url }}" target="_blank">
                    Proof
                </a>
            </td>
            <td class="px-6 py-4 text-2xl whitespace-nowrap font-runescape">
                {{ submission.value_display }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="flex justify-around py-2 mt-4 text-gray-800 border-t-2">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="px-3 py-2 my-4 font-medium text-gray-300 bg-gray-800 rounded-md hover:bg-gray-700 hover:text-white">
            Previous
        </a>
    {% else %}
        <a class="px-3 py-2 my-4 font-medium text-white bg-gray-400 rounded-md hover:cursor-default">
            Previous
        </a>
    {% endif %}

    <a class="px-3 py-2 my-4 font-medium rounded-md hover:cursor-default">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </a>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="px-3 py-2 my-4 font-medium text-gray-300 bg-gray-800 rounded-md hover:bg-gray-700 hover:text-white">
            Next
        </a>
    {% else %}
        <a class="px-3 py-2 my-4 font-medium text-white bg-gray-400 rounded-md hover:cursor-default">
            Next
        </a>
    {% endif %}
</div>
