{% extends "base.html" %}

{% load static main_extras %}

{% block title %}
    Unthinking Majority
{% endblock %}

{% block extra_head %}
    <link rel="icon" href="{% static "um_logos/favicon.ico" %}">
    <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>
    <script src="{% static 'js/inputmask.js' %}"></script>
{% endblock %}

{% block main %}
    {% block navbar %}
        {% navbar %}
    {% endblock %}
    <div class="p-4 mb-6 h-auto rounded-lg bg-stone-100">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
