{% extends "base.html" %}

{% load static main_extras wagtailuserbar %}

{% block title %}
    Unthinking Majority
{% endblock %}

{% block extra_head %}
    <link rel="icon" href="{% static "um_logos/favicon.ico" %}">
    <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>
    <script src="{% static "js/inputmask.js" %}"></script>
    <script src="{% static "js/navbar.js" %}"></script>
{% endblock %}

{% block main %}
    {% wagtailuserbar "bottom-left" %}
    {% block navbar %}
        {% navbar %}
    {% endblock %}
    {% block toast %}
        {% include "main/toast.html" %}
    {% endblock %}
    <div id="content-div"
         class="{% block content-classes %}relative mb-6 h-auto rounded-lg bg-slate-100 p-2 shadow-xl shadow-black/40 md:p-4{% endblock content-classes %}">
        {% block header %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
