<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".toast").forEach((toast) => {
            setTimeout(() => {
                toast.style.opacity = 1;
            }, 100);
            setTimeout(() => {
                toast.style.opacity = 0;
            }, 5000);
        });
    });
</script>

{% if messages %}
    {% for message in messages %}
        <div class="toast absolute mx-2 right-0 md:my-2 md:top-5 md:right-5 w-fit ease-in-out duration-500 opacity-0">
            <div class="flex items-center w-full max-w-md p-4 rounded-lg shadow text-gray-300 bg-gray-700">
                <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 rounded-lg bg-lime-700 text-white">
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>
                <div class="ml-3 font-medium text-white text-center">
                    Your form has been successfully submitted!
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
