{% extends "main/site_base.html" %}

{% load static um_components main_extras %}

{% block content %}
    <div class="flex flex-col items-center justify-between">
        {% page_header "Achievement Points Multipliers" %}
        <p class="text-center">
            <i>Earn achievement points for placing in the top 5 of any leaderboard for personal bests (does not include leaderboards for official OSRS hiscores).</i>
        </p>
        <p class="text-center">
            <i>More challenging content, like the Inferno, will have a higher points multiplier; while less challenging content, like Tears of Guthix, will have a lower points multiplier.</i>
        </p>
        <p class="mb-4 text-center">
            <i>Points are added together as decimal values, and rounded down to the nearest integer for display.</i>
        </p>
        <table class="overflow-hidden rounded-lg shadow-lg">
            <thead class="rounded-lg bg-gray-800">
            <tr class="text-white">
                <th class="px-1 py-4 text-center md:py-4 md:text-base">
                    Board
                </th>
                <th class="hidden px-1 py-4 text-center md:block md:py-4 md:text-base">
                    Multiplier
                </th>
                <th class="px-1 py-4 text-center md:hidden md:py-4 md:text-base">
                    Mult.
                </th>
                <th class="px-1 py-4 text-center md:py-4 md:text-base">
                    1st
                </th>
                <th class="px-1 py-4 text-center md:py-4 md:text-base">
                    2nd
                </th>
                <th class="px-1 py-4 text-center md:py-4 md:text-base">
                    3rd
                </th>
                <th class="px-1 py-4 text-center md:py-4 md:text-base">
                    4th
                </th>
                <th class="px-1 py-4 text-center md:py-4 md:text-base">
                    5th
                </th>
            </tr>
            </thead>
            <tbody>
            {% for board in boards %}
                <tr class="odd:bg-gray-50 even:bg-gray-100">
                    <td class="py-2 text-center text-sm md:whitespace-nowrap md:px-2 md:text-base">
                        {{ board }}
                    </td>
                    <td class="whitespace-nowrap py-2 text-center text-sm md:font-runescape md:px-2 md:text-2xl">
                        {{ board.points_multiplier }}
                    </td>
                    <td class="whitespace-nowrap py-2 text-center text-sm md:font-runescape md:px-2 md:text-2xl">
                        {{ board.points_multiplier|mult:config.FIRST_PLACE_PTS }}
                    </td>
                    <td class="whitespace-nowrap py-2 text-center text-sm md:font-runescape md:px-2 md:text-2xl">
                        {{ board.points_multiplier|mult:config.SECOND_PLACE_PTS }}
                    </td>
                    <td class="whitespace-nowrap py-2 text-center text-sm md:font-runescape md:px-2 md:text-2xl">
                        {{ board.points_multiplier|mult:config.THIRD_PLACE_PTS }}
                    </td>
                    <td class="whitespace-nowrap py-2 text-center text-sm md:font-runescape md:px-2 md:text-2xl">
                        {{ board.points_multiplier|mult:config.FOURTH_PLACE_PTS }}
                    </td>
                    <td class="whitespace-nowrap py-2 text-center text-sm md:font-runescape md:px-2 md:text-2xl">
                        {{ board.points_multiplier|mult:config.FIFTH_PLACE_PTS}}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}