{% extends "site_base.html" %}

{% block content %}
    {{ block.super }}
    <div class="bg-gray-50 h-auto p-2 rounded-lg">
        <div class="flex justify-center">
            <div class="flex justify-center items-center my-6 bg-gray-800 rounded-lg basis-9/12">
                {% if board.icon %}
                    <img src="{{ board.icon.url }}" class="mr-4 h-16 w-16">
                {% endif %}
                <h1 class="tracking-wide py-2 font-runescape text-7xl text-yellow-runescape text-border">
                    {{ board.name }}
                </h1>
            </div>
        </div>

        <div class="flex gap-6 justify-center bg-gray-50 rounded-lg">
            <div class="py-4">
                {% include 'leaderboard.html' %}
            </div>
        </div>
    </div>

{% endblock %}
