{% extends "site_base.html" %}

{% load static %}

{% block content %}
    {{ block.super }}
    <div class="bg-gray-50 h-auto p-2 rounded-lg">
        <div class="flex flex-col justify-center items-center my-6">
            <h1 class="text-7xl font-bold tracking-wide text-gray-800 py-2">
                {{ board.name }}
            </h1>
            <h2 class="text-5xl font-bold tracking-wide text-gray-400 py-2">
                Leaderboards
            </h2>
        </div>

        <div class="flex gap-6 justify-center bg-gray-50 rounded-lg">
            <div class="py-4">
                {% include 'leaderboard.html' %}
            </div>
        </div>
    </div>

{% endblock %}
