{% extends "site_base.html" %}

{% load static main_extras %}

{% block content %}
    {{ block.super }}
    <div class="bg-gray-50 h-auto p-4 rounded-lg">
        <div class="flex flex-col justify-center items-center my-6">
            <div class="rounded-lg w-40 h-40 overflow-hidden">
                <img class="h-auto w-auto" src="{% static 'um_logos/gifs/logo_animated_blue.gif' %}" alt="Unthinking Majority Logo">
            </div>
            <h1 class="text-7xl font-bold tracking-wide text-gray-800 py-2">
                Unthinking Majority
            </h1>
            <h2 class="text-5xl font-bold tracking-wide text-gray-400 py-2">
                Leaderboards
            </h2>
        </div>

        <div class="flex gap-4 justify-center bg-gray-50 rounded-lg">
            <div class="py-2">
                {% recent_submission_leaderboard %}
            </div>
            <div class="py-2">
                {% include 'dashboard/1st_places_held.html' %}
            </div>
        </div>
        <div class="flex gap-4 justify-center bg-gray-50 rounded-lg">
            <div class="py-2">
                {% pets_leaderboard %}
            </div>
        </div>
    </div>

{% endblock %}
