{% load main_extras %}

<table class="min-w-full bg-gray-200 rounded-lg overflow-hidden">
    <thead class="bg-gray-800 rounded-lg">
    <tr class="text-white">
        <th class="text-md px-6 py-4 text-left">
            Rank
        </th>
        <th class="text-md px-6 py-4 text-left">
            Username
        </th>
        <th class="text-md px-6 py-4 text-left">
            Date
        </th>
        <th class="text-md px-6 py-4 text-left">
            Proof
        </th>
        <th class="text-md px-6 py-4 text-left">
            {{ board.metric|get_metric_display }}
        </th>
    </tr>
    </thead>
    <tbody>
    {% for submission in page_obj %}
        <tr class="even:bg-gray-100">
            <td class="px-6 py-4 whitespace-nowrap">
                {{ forloop.counter0|add:page_obj.start_index }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
                {{ submission.account.name }}
            </td>
            <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                {{ submission.date }}
            </td>
            <td class="text-sm font-light px-6 py-4 text-gray-900 whitespace-nowrap underline hover:text-gray-600">
                <a href="{{ submission.proof.url }}" target="_blank">
                    Proof
                </a>
            </td>
            <td class="font-runescape text-2xl px-6 py-4 whitespace-nowrap ">
                {{ submission.value_display }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="flex justify-around mt-4 text-gray-800 border-t-2 py-2">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="text-gray-300 bg-gray-800 px-3 py-2 rounded-md my-4 font-medium hover:bg-gray-700 hover:text-white">
            Previous
        </a>
    {% else %}
        <a class="px-3 py-2 rounded-md my-4 font-medium bg-gray-400 text-white hover:cursor-default">
            Previous
        </a>
    {% endif %}

    <a class="px-3 py-2 rounded-md my-4 font-medium hover:cursor-default">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </a>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="text-gray-300 bg-gray-800 px-3 py-2 rounded-md my-4 font-medium hover:bg-gray-700 hover:text-white">
            Next
        </a>
    {% else %}
        <a class="px-3 py-2 rounded-md my-4 font-medium bg-gray-400 text-white hover:cursor-default">
            Next
        </a>
    {% endif %}
</div>
