{% extends "main/forms/wizard/base.html" %}

{% load main_extras um_components %}

{% block header %}
    {% page_header "Dragonstone: Submit Raid With New Member(s)" %}
    <div class="flex justify-center">
        <a href="{% url "dragonstone:points-breakdown" %}" class="font-bold text-cyan-500 hover:text-cyan-700 md:text-xl">
            Dragonstone Points Breakdown
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline-block h-6 w-6 align-top">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"></path>
            </svg>
        </a>
    </div>
{% endblock %}

{% block sub-header %}
    Submit raiding with a new member (Sapphire/Emerald) to earn dragonstone points!
{% endblock sub-header %}

{% block form_content %}

    {# Account(s) #}
    {% if wizard.form.accounts.errors %}
        <div class="mx-2 flex w-80 justify-center">
            {% include "main/forms/field_error_list.html" with errors=wizard.form.accounts.errors %}
        </div>
    {% endif %}
    {{ wizard.form.accounts }}

    {# New Member(s) #}
    {% if wizard.form.new_members.errors %}
        <div class="mx-2 flex w-80 justify-center">
            {% include "main/forms/field_error_list.html" with errors=wizard.form.new_members.errors %}
        </div>
    {% endif %}
    {{ wizard.form.new_members }}

    {# Content #}
    {% if wizard.form.content.errors %}
        <div class="mx-2 flex w-80 justify-center">
            {% include "main/forms/field_error_list.html" with errors=wizard.form.content.errors %}
        </div>
    {% endif %}
    {{ wizard.form.content }}

    {% textarea_input wizard.form.notes prefix=wizard.form.prefix %}

    {% file_input wizard.form.proof prefix=wizard.form.prefix %}

{% endblock %}
